<div  style="width: 100%; position: relative; background-color: darkblue; height: fit-content;">
    <img style="width: 100%; opacity: 0.7;height: 25vw;" src="../../../assets/images/careers/1.webp">
    <div style="position: absolute; color: white; top: 35%;right: 45%; width:50%; "><h1 style=" font-size: 2.5vw;">Careers</h1><p style="font-size: 1.5vw;">| Be a catalyst for change at Infynix, where your skills and aspirations blend seamlessly to shape the future of technology |</p></div>
</div>

<div style="background-color: white; display: flex; padding-top: 2%; padding-bottom: 2%; padding-left: 10%; margin-bottom: 3%;">
    <div style="margin-top: 3%;"><img src="../../../assets/images/careers/3.webp" alt="" style="width: 35vw; "> </div>
<div style="background-color: white; text-align: left; padding-left: 7%; padding-right: 2%; height: fit-content; padding-bottom: 2%;padding-top: 2.5%;">
<h1 style="font-size: 2.2vw;padding-top: 8.5%; padding-bottom: %; font-weight: 700; padding-right: 5%; color: rgba(0, 46, 93, 255);">
    
Life at Infynix</h1><p style="font-size: 1.2vw; font-weight: 350; width: 80%;padding-top: 5;text-align: justify;">Welcome to the vibrant and dynamic world of Infynix, where passion meets purpose and innovation drives excellence. At Infynix, we believe that our greatest asset is our talented and diverse team of professionals. We foster a culture of collaboration, creativity, and continuous learning, where every individual is encouraged to thrive and reach their full potential.</p>
</div>
</div>

<div style="background-color: #f2f2f2; display: flex; padding-top: 2%; padding-bottom: 2%; padding-left: 2%; padding-bottom: 10%;">
    <div style="margin-top: 3%;"><img src="../../../assets/images/careers/3.webp" alt="" style="width: 45vw; "> </div>
<div style="background-color: white; text-align: left; padding-left: 7%; padding-right: 2%;transform: translate(-10%,50%); height: fit-content; padding-bottom: 2%;">
<h1 style="font-size: 2.2vw;padding-top: 5%; padding-bottom: 5%; font-weight: 700; padding-right: 5%; color: rgba(0, 46, 93, 255);">
    Work-Life Balance:</h1><p style="font-size: 1.2vw; font-weight: 350;">We understand the importance of maintaining a healthy work-life balance. Infynix offers flexible work arrangements, encouraging our employees to strike the right balance between their personal and professional commitments.</p>
</div>
</div>
<div style="background-color: #f2f2f2; display: flex; padding-top: 2%; padding-bottom: 2%; padding-bottom: 10%;">
<div style="background-color: white; text-align: left; padding-left: 2%;transform: translate(10%,50%); height: fit-content; padding-bottom: 2%;">
<h1 style="font-size: 2.2vw;padding-top: 5%; padding-bottom: 5%; font-weight: 700; padding-left: ; color: rgba(0, 46, 93, 255);">
    Career Growth and Development:</h1><p style="font-size: 1.2vw; font-weight: 350;width:80%">We are committed to nurturing our employees' growth and development. With a plethora of learning opportunities, training programs, and career advancement initiatives, we empower our team members to take charge of their careers and unlock new horizons.</p>

</div>
<div style="margin-top: 3%;"><img src="../../../assets/images/careers/4.png" alt="" style="width: 45vw; "> </div>
</div>
<div style="background-color: #f2f2f2; display: flex; padding-top: 2%; padding-bottom: 2%; padding-left: 2%; padding-bottom: 10%;">
    <div style="margin-top: 6%;"><img src="../../../assets/images/careers/5.jpg" alt="" style="width: 45vw; "> </div>
<div style="background-color: white; text-align: left; padding-left: 7%; padding-right: 2%;transform: translate(-10%,50%); height: fit-content; padding-bottom: 2%;">
<h1 style="font-size: 2.2vw;padding-top: 5%; padding-bottom: 5%; font-weight: 700; padding-right: 5%; color: rgba(0, 46, 93, 255);">
    Innovation and Collaboration:</h1><p style="font-size: 1.2vw; font-weight: 350;">Innovation is at the heart of what we do. We embrace new ideas and encourage out-of-the-box thinking. Infynix is a place where collaboration thrives, and diverse perspectives come together to solve complex challenges and drive meaningful impact.</p>
</div>
</div>
<div style="background-color: #f2f2f2; display: flex; padding-top: 2%; padding-bottom: 2%; padding-bottom: 10%;">
    <div style="background-color: white; text-align: left; padding-left: 2%;transform: translate(10%,50%); height: fit-content; padding-bottom: 2%;">
    <h1 style="font-size: 2.2vw;padding-top: 4.5%; padding-bottom: %; font-weight: 700; padding-left: ; color: rgba(0, 46, 93, 255);">
        Employee Well-being:</h1><p style="font-size: 1.2vw; font-weight: 350;width:80%">Infynix prioritizes employee well-being through comprehensive wellness programs and a supportive work environment. We emphasize physical and mental health, offer work-life balance, and nurture personal and professional growth. Our commitment to employee happiness is integral to our thriving corporate culture.</p>
    
    </div>
    <div style="margin-top: 3%;"><img src="../../../assets/images/careers/6.png" alt="" style="width: 45vw; "> </div>
    </div>
    <div style="background-color: #f2f2f2; display: flex; padding-top: %; padding-bottom: %; padding-left: 2%; padding-bottom: 10%;">
        <div style="margin-top: 3%;"><img src="../../../assets/images/careers/7.jpg" alt="" style="width: 45vw; "> </div>
    <div style="background-color: white; text-align: left; padding-left: 7%; padding-right: 2%;transform: translate(-10%,50%); height: fit-content; padding-bottom: 2%;">
    <h1 style="font-size: 2.2vw;padding-top: 8%; padding-bottom: %; font-weight: 700; padding-right: 5%; color: rgba(0, 46, 93, 255);">
        Fun and Celebrations:</h1><p style="font-size: 1.2vw; font-weight: 350;">Life at Infynix is not just about work; it's about celebrating our achievements and creating lasting memories together. We organize regular team-building activities and social events to foster a sense of camaraderie and joy.</p>
    </div>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide dynamic-height-carousel" data-ride="carousel" style="background-color: rgba(223,245,253,255);">
        <ol class="carousel-indicators" style="z-index: 10;">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" style="font-size: 20% !important;height: fit-content;">
            <div class="carousel-item active" style="color: black;height: fit-content">
                <div style= "margin-top:; display: flex;"><img  src="../../../assets/images/careers/carousel/1.jpg" alt="First slide" style="opacity: 100%;width: 50%;">
                    <img  src="../../../assets/images/careers/carousel/2.jpg" alt="First slide" style="opacity: 100%;width: 50%;;"></div></div>
                <div class="carousel-caption">
                
            
        </div>
        <div class="carousel-item">
            <div style= "margin-top:; display: flex;"><img  src="../../../assets/images/careers/carousel/3.jpg" alt="First slide" style="opacity: 100%;height: 70%;">
                <img  src="../../../assets/images/careers/carousel/4.jpg" alt="First slide" style="opacity: 100%;width: 30%;height: 70%;">
                <img  src="../../../assets/images/careers/carousel/6.jpg" alt="First slide" style="opacity: 100%;width: 30%;height: 70%;"></div>
            <div class="carousel-caption">
            
            </div>
    </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only"></span>
        </a>
      </div>
      
      <script>
      window.addEventListener('resize', adjustCarouselHeight);
      
      function adjustCarouselHeight() {
        const dynamicCarousel = document.querySelector('.dynamic-height-carousel');
        const carouselInner = dynamicCarousel.querySelector('.carousel-inner');
        const windowHeight = window.innerHeight;
        
        dynamicCarousel.style.maxHeight = `${windowHeight}px`;
        carouselInner.style.maxHeight = `${windowHeight}px`;
      }
      
      adjustCarouselHeight();
      </script>