<div  style="width: 100%; position: relative; background-color: darkblue; height: fit-content;">
    <img style="width: 100%; opacity: 0.7;" src="../../../assets/images/network/main.jpg">
    <div style="position: absolute; color: white; top: 20%;left: 10%; width:50%; "><h1 style=" font-size: 2.5vw;">Empower Your Connectivity with Infynix's Network Solutions</h1><p style="font-size: 1.5vw;">| Seamlessly Connect, Supervise, and Enhance Your Operations through Infynix's Advanced and Future Focused Network Services |</p></div>

</div>
<div style="background-color: rgb(171, 180, 219);; display: flex; padding-top: 2%; padding-bottom: 2%; padding-left: 2%; padding-bottom: 10%;">
    <div style="margin-top: 3%;"><img src="../../../assets/images/network/networking-main.jpg" alt="" style="width: 45vw; "> </div>
<div style="background-color: white; text-align: left; padding-left: 7%; padding-right: 2%;transform: translate(-10%,50%); height: fit-content; padding-bottom: 2%;">
<h1 style="font-size: 2.2vw;padding-top: 5%; padding-bottom: 5%; font-weight: 700; padding-right: 5%; color: rgba(0, 46, 93, 255);">Drive Operational Excellence with Network Services</h1><p style="font-size: 1.2vw; font-weight: 350;">With over 2 decades of experience in managing business-critical networks, Infynix offers a range of infrastructure, networking, and automation skills. Our solutions help enterprises devise a future-ready network strategy, integrate with any cloud, and consolidate and manage complex networks. Achieve network excellence with our agile, performance-oriented, and secure solutions tailored to meet the evolving needs of your business.</p>
</div>
</div>

<div style="background-color: white; padding-top: 10px; padding-bottom: 10px; height: fit-content;">
    <div style="background-color: rgb(255, 255, 255);">
      <h1 style="text-align: center; font-size: 3vw;padding-top: 5%;">Our Service Offerings</h1>
      <h5 style="text-align: center; font-weight: normal; padding-bottom: 5%; font-size: 1.2vw;">Delivering seamless integration through assets, services, and partnership models.</h5>
      <div style="padding-left: 10%; padding-bottom: 5%; display: flex;">
  <div style="display: inline-flex; margin-left: 10%;">  
  <div class="container" style="height: fit-content;">
    <div class="card add" style=" width: 16.5vw;border-width: 5px; border-color: rgba(242,242,242,255); border-radius: 0%; height: 28.5vw;"></div>
    <div class="card card-3d add" id="content-card-1" style="background-color: rgba(242,242,242,255); border-radius: 0%; height: fit-content;">
      <img class="card-img-top1" src="../../../assets/images/home/home-card-1.gif" alt="Card image cap" style="height: 9vw;width: 60%; margin-left: 20%; margin-top: 8%;">
      <div class="card-body" style="font-size: 1vw; width: fit-content;">
        <h1 style="font-weight: 400; text-align: center ;color: rgba(0, 46, 93, 255); font-size: 2vw;" class="card-title">Network</h1>
        <p style="padding-top: 7%; text-align: left; color: black; font-weight: 350;" class="card-text">Our Enterprise Internet is suitable for all enterprises, & for those who need mission-critical reliability from their internet. We offers unlimited internet traffic.</p>
        <a href="#" class="btn btn-primary" style="background-color: rgba(240, 248, 255, 0);color: rgba(0, 46, 93, 255);font-size: 1.2vw;">+ Learn More</a>
      </div>
    </div>
  </div>
  
  <div class="container" style="height: fit-content;" >
    <div class="card add" style=" width: 16.5vw;border-width: 5px; border-color: rgba(242,242,242,255); border-radius: 0%;height: 28.5vw;"></div>
    <div class="card card-3d add" id="content-card-2" style="background-color: rgba(242,242,242,255); border-radius: 0%; height: fit-content;">
      <img class="card-img-top1" src="../../../assets/images/home/home card -2.gif" alt="Card image cap" style="height: 9vw; width: 60%; margin-left: 20%; margin-top: 8%;">
      <div class="card-body" style="font-size: 1vw; width: fit-content;">
        <h1 style="font-weight: 400; text-align: center ;color: rgba(0, 46, 93, 255);font-size: 2vw;" class="card-title">Cloud</h1>
        <p style="padding-top: 7%; text-align: left; color: black; font-weight: 350;" class="card-text">Our Enterprise Internet is suitable for all enterprises, & for those who need mission-critical reliability from their internet. We offers unlimited internet traffic.</p>
        <a href="#" class="btn btn-primary" style="background-color: rgba(240, 248, 255, 0);color: rgba(0, 46, 93, 255); font-size: 1.2vw;">+ Learn More</a>
      </div>
    </div>
  </div>
  
  
  <div class="container" style="height: fit-content;">
    <div class="card add" style=" width: 16.5vw;border-width: 5px; border-color: rgba(242,242,242,255); border-radius: 0%;height: 28.5vw;"></div>
    <div class="card card-3d add" id="content-card-3" style="background-color: rgba(242,242,242,255); border-radius: 0%; height: fit-content;">
      <img class="card-img-top1" src="../../../assets/images/home/home card -3.gif" alt="Card image cap" style="height: 9vw; width: 60%; margin-left: 20%; margin-top: 8%;">
      <div class="card-body" style="font-size: 1vw; width: fit-content;">
        <h1 style="font-weight: 400; text-align: center ;color: rgba(0, 46, 93, 255);font-size: 2vw;" class="card-title">Security</h1>
        <p style="padding-top: 7%; text-align: left; color: black; font-weight: 350;" class="card-text">Our Enterprise Internet is suitable for all enterprises, & for those who need mission-critical reliability from their internet. We offers unlimited internet traffic.</p>
        <a href="#" class="btn btn-primary" style="background-color: rgba(240, 248, 255, 0);color: rgba(0, 46, 93, 255);font-size: 1.2vw;">+ Learn More</a>
      </div>
    </div>
  </div>
  </div>
      </div>
    </div>
  </div>
  
  
  <div class="image-container" style="background-color: white; padding-top: 10px; padding-bottom: 10px; height: fit-content;">
    <div style="background-color: rgb(255, 255, 255);">
      <img src="../../../assets/images/network/sdwan-wire.jpg" style="max-width: 100%; height: fit-content;">
      <h1 class="image-text" style="font-size: 2.5vw;">Infynix Key Features:</h1>
      <div style="position: absolute; top: 17%; display: flex; gap: 5%; padding-left: 10%; padding-right: 5%; padding-top: 5%;">
        <div class="black-box" style="width: 30%; background-color: rgba(0, 0, 0, 0.349); padding: 1%; box-sizing: border-box; font-size: 1vw;">
          <h1 class="dynamic-font-size" style="text-align: left; color: rgba(160,227,250,255); font-size: 1.5vw;">
            Speeds from 10Mbps to 10 Gbps</h1>
        </div>
        <div class="black-box" style="width: 30%; background-color: rgba(0, 0, 0, 0.349); padding: 1%; box-sizing: border-box; font-size: 1vw;">
          <h1 class="dynamic-font-size" style="text-align: left; color: rgba(160,227,250,255); font-size: 1.5vw;">99.95% Uptime SLAs</h1>
        </div>
        <div class="black-box" style="width: 30%; background-color: rgba(0, 0, 0, 0.349); padding: 1%; box-sizing: border-box;font-size: 1vw;">
          <h1 class="dynamic-font-size" style="text-align: left; color: rgba(160,227,250,255); font-size: 1.5vw;">
            Direct connectivity to Data Centres</h1>
        </div>
        <div class="black-box" style="width: 30%; background-color: rgba(0, 0, 0, 0.349); padding: 1%; box-sizing: border-box;font-size: 1vw;">
            <h1 class="dynamic-font-size" style="text-align: left; color: rgba(160,227,250,255); font-size: 1.5vw;">
                DDoS Protection ready</h1>
          </div>
      </div>
      <div style="position: absolute;top: 60%; display: flex; gap: 5%; padding-left: 10%; padding-right: 5%">
        <div class="black-box" style="width: 19%; background-color: rgba(0, 0, 0, 0.349); padding: 1%; box-sizing: border-box;font-size: 1vw;">
          <h1 class="dynamic-font-size" style="text-align: left; color: rgba(160,227,250,255); font-size: 1.5vw;">Peering's with Google / Microsoft / Facebook</h1>
        </div>
        <div class="black-box" style="width: 19%; background-color: rgba(0, 0, 0, 0.349); padding: 1%; box-sizing: border-box;font-size: 1vw;">
          <h1 class="dynamic-font-size" style="text-align: left; color: rgba(160,227,250,255); font-size: 1.5vw;">Multiple Peering's across the globe</h1>
        </div>
        <div class="black-box" style="width: 19%; background-color: rgba(0, 0, 0, 0.349); padding: 1%; box-sizing: border-box;font-size: 1vw;">
            <h1 class="dynamic-font-size" style="text-align: left; color: rgba(160,227,250,255); font-size: 1.5vw;">Suitable for mission critical hosting connectivity</h1>
          </div>
          <div class="black-box" style="width: 19%; background-color: rgba(0, 0, 0, 0.349); padding: 1%; box-sizing: border-box;font-size: 1vw;">
            <h1 class="dynamic-font-size" style="text-align: left; color: rgba(160,227,250,255); font-size: 1.5vw;">BGP routing configurability (single ASN only)</h1>
          </div>

      </div>
    </div>
  </div>
  
  
  
  <div style="background-color: white; height: fit-content; width: 100%;  position: relative; text-align: center;">
    <div style=" padding-bottom: 5%;">
      <h1 style="padding-top: 2%; font-size: 2.5vw;"> Customer motivation for Choosing
        <img src="../../../assets/images/main_logo.png" style="width: 10vw;">
      </h1>
      <p style="font-size: 1.1vw;">Reasons and factors that lead customers to select Infynix for their needs.</p>
      </div>
      <div style="display: flex; justify-content: center;">
        <div style="background-color: #a8adc5; padding-top: 2%; width: 20%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/network/netcard1.jpg" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">Reliability and Uptime</h1>
                <p style="font-size: 1.1vw;">Customers trust Infynix for network services due to our commitment to delivering reliable and high-uptime solutions, reducing business disruptions.</p>
            </div>
        </div>
        <div style="background-color: #a8adc5d0; padding-top: 2%; width: 20%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/network/netcard2.jpg" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">Expertise and Experience</h1>
                <p style="font-size: 1.1vw;">Infynix's vast expertise and experience in the network domain provide customers with confidence in our ability to deliver top-notch networking solutions.</p>
            </div>
        </div>
        <div style="background-color: #a8adc59c; width: 20%; padding-top: 2%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/network/netcard3.jpg" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">Scale and Grow as You Need To</h1>
                <p style="font-size: 1.1vw;">We empower customers to grow their business without limitations: adding new users, locations, or services, our network infrastructure accommodates expansion seamlessly.</p>
            </div>
        </div>
        <div style="background-color: #a8adc565; padding-top: 2%; width: 20%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/network/netcard4.jpg" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">Customer-Centric Approach</h1>
                <p style="font-size: 1.1vw;">With 24x7 support from our team and direct connections to international internet providers, we ensure a superior internet experience for our customers. Rest assured, we have you covered.</p>
            </div>
        </div>
    </div>
</div>