<div  style="width: 100%; position: relative; background-color: darkblue; height: fit-content;">
    <img style="width: 100%;" src="../../../assets/images/verticals/mainpageheader.jpg">
    <div style="position: absolute; color: white; top: 35%;left: 10%; width:50%; "><h1 style=" font-size: 2.5vw; font-weight: bold;">About Us</h1><p style="font-size: 1.15vw;">| We are a team of passionate people who are committed to making a difference in the world |</p></div>
  
  </div>



<div style="background-color: white; display: flex; padding-top: 2%; padding-bottom: 2%; padding-left: 7%;">
    <div style="background-color: white; text-align: left; padding-left: 1%; padding-right: 2%;width: 50%; ">
        <h1 style="font-size: 2.5vw;padding-top: 5%; padding-bottom: 5%; text-align: justify; font-weight: 700; padding-right: 5%;">The Full Story</h1><p style="font-size: 1.1vw; font-weight: 350;text-align: justify; ">​We stand proudly as a premier Integrated Service Provider, experiencing rapid growth within the realm of Mid Market Enterprises. With a pervasive presence across various cities in India, we are steadily unfurling our operations across new horizons. Our forte lies in furnishing comprehensive Integrated Data and Connectivity Services tailored for Mid Sized Enterprises. Our service portfolio encompasses a spectrum of offerings, including Data Connectivity, cutting-edge SD WAN solutions, robust Cyber Security measures, transformative Cloud Services, and meticulous Managed Services. Through these provisions, we empower our clientele to harness the power of data in this digital era.

            Our journey commenced in the year 2014, and since then, our headquarters have stood firm in the dynamic city of Bangalore. Presently, our tight-knit family comprises over a hundred adept professionals. At our core, we unite the paramount technologies from the global landscape, amalgamating consulting, technical prowess, and unwavering support services into a seamless continuum. This amalgamation culminates in a holistic, fully managed service that we proudly extend to our esteemed client base.</p>
        </div>
    <div style="margin-left: 10%;margin-top: 5%;"><img src="../../../assets/images/aboutus/image.png" alt="" style="height: 26vw; "> </div>

</div>
<div>

<div style="background-color: white; display: flex; padding-top: %; padding-bottom: 0%; padding-left: 2%;">
    <div style="margin-top: 4%;"><img src="../../../assets/images/aboutus/2.jpg" alt="" style="height: 25vw;border: 10px solid #555; "> </div>
<div style="background-color: white; text-align: left; padding-left: 7%; padding-right: 2%;">
<h1 style="margin-top: 17%; margin-left: 10%;font-size: 2.2vw;padding-top: %; padding-bottom: 5%; text-align: left; font-weight: 700; padding-right: 1%;">Mission</h1><p style="text-align: center;font-size: 1.1vw;margin-left: 10%; font-weight: 350;width: 70%;text-align: justify;">Infynix is dedicated to transforming businesses through innovative digital solutions. Our mission is to empower enterprises with cutting-edge technologies, seamless connectivity, and comprehensive services that drive growth, efficiency, and customer satisfaction. We are committed to being a trusted partner, guiding organizations on their digital journey to success.</p>
</div>
</div>
<div style="background-color: white; display: flex; padding-top: %; padding-bottom: 10%; padding-left: 2%;">
   
<div style="background-color: white; text-align: left; padding-right: 7%; padding-left: 2%;">
<h1 style="margin-top: 20%; margin-right: 10%;font-size: 2.2vw;padding-top: 5%; padding-bottom: 5%; text-align: left; font-weight: 700; padding-right: 1%;">Vision</h1><p style="text-align: center;font-size: 1.1vw;margin-right: 10%; font-weight: 350;width: 80%;text-align: justify;">Our vision at Infynix is to lead the way in redefining the digital landscape. We aspire to be the catalyst for digital transformation, delivering unparalleled connectivity, security, and technological advancements to businesses worldwide. Through our visionary approach and unwavering commitment, we envision a future where organizations thrive in a digitally empowered world.</p>
</div>
<div style="margin-top: 7%;margin-right: 5%;"><img src="../../../assets/images/aboutus/3.jpg" alt="" style="height: 25vw;border: 10px solid #555;"> </div>
</div>

</div>

<div id="carouselExampleIndicators" class="carousel slide dynamic-height-carousel" data-ride="carousel" style="background-color: rgba(0, 46, 93, 255);height: fit-content;">
    <ol class="carousel-indicators" style="z-index: 10;">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" style="font-size: 20% !important;padding-bottom: 10%;">
        <div class="carousel-item active"> 
            <div style="background-color: rgba(0, 46, 93, 255);font-size: 1vw; width: 80%;height: fit-content;text-align: justify;padding-left: 20%;padding-top: 8%;"> <h1 style="font-size: 1.5vw;color: aliceblue;font-style: italic;">"At the heart of our vision is a commitment to transforming businesses through technology. We're not just providing solutions; we're shaping the future of innovation."</h1>
            <p style="font-size: 1.2vw;text-align: right;color: aliceblue;"> -Umesh Chaturvedi [CEO]</p>
            </div>
        </div>
        <div class="carousel-item"> 
            <div style="background-color: rgba(0, 46, 93, 255);font-size: 1vw; width: 80%;height: fit-content;text-align: justify;padding-left: 20%;padding-top: 8%;"> <h1 style="font-size: 1.5vw;color: aliceblue;font-style: italic;">"In a rapidly evolving digital landscape, our focus remains on driving excellence. We're not just keeping up; we're setting the standard for what's possible."</h1>
            <p style="font-size: 1.2vw;text-align: right;color: aliceblue;"> -RRB Sharma [CTO]</p>
            </div>
        </div>
        <div class="carousel-item"> 
            <div style="background-color: rgba(0, 46, 93, 255);font-size: 1vw; width: 80%;height: fit-content;text-align: justify;padding-left: 20%;padding-top: 8%;"> <h1 style="font-size: 1.5vw;color: aliceblue;font-style: italic;">"Our success lies in our clients' success. We take pride in being the driving force behind their achievements, continuously delivering solutions that exceed expectations." </h1>
            <p style="font-size: 1.2vw;text-align: right;color: aliceblue;"> -L V Sastry [Board Advisor and Seed Investor]</p>
            </div>
        </div>
        <div class="carousel-item"> 
            <div style="background-color: rgba(0, 46, 93, 255);font-size: 1vw; width: 80%;height: fit-content;text-align: justify;padding-left: 20%;padding-top: 8%;"> <h1 style="font-size: 1.5vw;color: aliceblue;font-style: italic;">"Every challenge is an opportunity to innovate. We approach each project with a passion for problem-solving, ensuring our clients' goals are not just met but exceeded." </h1>
            <p style="font-size: 1.2vw;text-align: right;color: aliceblue;"> -Sanjeev Chhabra [CXO Business Leader]</p>
            </div>
        </div>
        <div class="carousel-item"> 
            <div style="background-color: rgba(0, 46, 93, 255);font-size: 1vw; width: 80%;height: fit-content;text-align: justify;padding-left: 20%;padding-top: 8%;"> <h1 style="font-size: 1.5vw;color: aliceblue;font-style: italic;">"As a leader, my commitment is to foster a culture of collaboration and growth. Our team's expertise and dedication shine through in every project we undertake." </h1>
            <p style="font-size: 1.2vw;text-align: right;color: aliceblue;"> -Manu Batra [CXO Business Leader]</p>
            </div>
        </div>
        <div class="carousel-item"> 
            <div style="background-color: rgba(0, 46, 93, 255);font-size: 1vw; width: 80%;height: fit-content;text-align: justify;padding-left: 20%;padding-top: 8%;"> <h1 style="font-size: 1.5vw;color: aliceblue;font-style: italic;">
                "In the digital age, adaptability is key. We embrace change and leverage emerging technologies to create solutions that drive real business impact." </h1>
            <p style="font-size: 1.2vw;text-align: right;color: aliceblue;"> -Navneet Zutshi [CXO Business Leader]</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
  </div>
  
  <script>
  window.addEventListener('resize', adjustCarouselHeight);
  
  function adjustCarouselHeight() {
    const dynamicCarousel = document.querySelector('.dynamic-height-carousel');
    const carouselInner = dynamicCarousel.querySelector('.carousel-inner');
    const windowHeight = window.innerHeight;
    
    dynamicCarousel.style.maxHeight = `${windowHeight}px`;
    carouselInner.style.maxHeight = `${windowHeight}px`;
  }
  
  adjustCarouselHeight();
  </script>
  