<div  style="width: 100%; position: relative; background-color: darkblue; height: fit-content;">
    <img style="width: 100%; opacity: 0.4;" src="../../../assets/images/network/enterprise.jpg">
    <div style="position: absolute; color: white; top: 20%;left: 10%; width:50%; "><h1 style=" font-size: 2.3vw;font-weight: bold;">Enterprise Network Connectivity: Engineered for our highest performing business customers</h1><p style="font-size: 1.3vw;">| Infynix's Enterprise Internet caters to high-performance businesses, enterprises, governments, and essential connectivity needs |</p></div>

</div>
<div style="background-color: rgb(171, 180, 219);; display: flex; padding-top: 2%; padding-bottom: 2%; padding-left: 2%; padding-bottom: 10%;">
    <div style="margin-top: 3%;"><img src="../../../assets/images/network/enterprise-main.jpg" alt="" style="width: 45vw; "> </div>
<div style="background-color: white; text-align: left; padding-left: 7%; padding-right: 2%;transform: translate(-10%,80%); height: fit-content; padding-bottom: 2%;">
<h1 style="font-size: 2.2vw;padding-top: 5%; padding-bottom: 5%; font-weight: 700; padding-right: 5%; color: rgba(0, 46, 93, 255);">Enterprise Network Connectivity</h1><p style="font-size: 1.2vw; font-weight: 350;">Infynix's Enterprise Internet is specifically tailored to meet the stringent demands of our highest-performing business customers. This robust service caters to enterprises, government organizations, and businesses requiring mission-critical reliability and high-performance connectivity.</p>
</div>
</div>

<div style="background-color: white; height: fit-content; width: 100%; display: flex; padding-top: 5%; padding-left:12.5%;">
    <div style="width: 45%; background-color: rgba(234,237,246,255); font-size: 1vw; padding: 2%; height: fit-content;margin-top: 4%;">
        <h1 style="font-size: 2vw;">Premium Features and Reliability</h1>
        <p style="padding: 5% 5%; padding-bottom: 1%; padding-right: 13%;">Infynix's Enterprise Internet is specifically tailored to meet the stringent demands of our highest-performing business customers. This robust service caters to enterprises, government organizations, and businesses requiring mission-critical reliability and high-performance connectivity.</p>
    </div>
    <div><img src="../../../assets/images/network/image.jpg" style="width: 33vw;"></div>
</div>

<div style="background-color: white; height: fit-content; width: 100%; display: flex; padding-top: 5%; padding-left:20%; padding-bottom: 5%;">
    <div style="width: 70%; background-color: rgba(234,237,246,255); padding: 2%; height: fit-content;margin-top: 4%; padding-top: 5%;">
        <ol style="font-size: 1.2vw; font-weight: 650;">
            <li style="padding-bottom: 2%;">
                <h3 style="font-size: 1.2vw; font-weight: 650;">Flexible Speeds</h3>
                <p style="font-size: 1vw; font-weight: 350;">We understand that different businesses have varying bandwidth requirements. Infynix's Enterprise Internet offers scalable speeds ranging from 10Mbps to Gigabit speeds, providing the versatility needed to support your ever-evolving data needs.</p>
            </li>
            <li style="padding-bottom: 2%;">
                <h3 style="font-size: 1.2vw; font-weight: 650;">Flexible Speeds</h3>
                <p style="font-size: 1vw; font-weight: 350;">We understand that different businesses have varying bandwidth requirements. Infynix's Enterprise Internet offers scalable speeds ranging from 10Mbps to Gigabit speeds, providing the versatility needed to support your ever-evolving data needs.</p>
            </li>
            <li style="padding-bottom: 2%;">
                <h3 style="font-size: 1.2vw; font-weight: 650;">Flexible Speeds</h3>
                <p style="font-size: 1vw; font-weight: 350;">We understand that different businesses have varying bandwidth requirements. Infynix's Enterprise Internet offers scalable speeds ranging from 10Mbps to Gigabit speeds, providing the versatility needed to support your ever-evolving data needs.</p>
            </li>
            <li style="padding-bottom: 2%;">
                <h3 style="font-size: 1.2vw; font-weight: 650;">Flexible Speeds</h3>
                <p style="font-size: 1vw; font-weight: 350;">We understand that different businesses have varying bandwidth requirements. Infynix's Enterprise Internet offers scalable speeds ranging from 10Mbps to Gigabit speeds, providing the versatility needed to support your ever-evolving data needs.</p>
            </li>
            <li style="padding-bottom: 2%;">
                <h3 style="font-size: 1.2vw; font-weight: 650;">Flexible Speeds</h3>
                <p style="font-size: 1vw; font-weight: 350;">We understand that different businesses have varying bandwidth requirements. Infynix's Enterprise Internet offers scalable speeds ranging from 10Mbps to Gigabit speeds, providing the versatility needed to support your ever-evolving data needs.</p>
            </li>
            
        </ol>
    </div>
</div>
<div style="background-color: white; height: fit-content; width: 100%;  position: relative; padding-bottom: 3%;">
    <img src="../../../assets/images/network/wires.jpg" style="width: 100%; opacity: 90%;">
    <div style="position: absolute; color: white; top: 20%;left: 20%; width:70%; ">
    <h1 style=" font-size: 2vw; padding-bottom: 2%; font-weight: 700;">Enhance Your Connectivity Today</h1><p style="font-size: 1.1vw; font-weight: 500;">Experience the unparalleled benefits of Infynix's Enterprise Internet. From top-tier reliability to unmatched performance, our tailored solution empowers your business to thrive in the digital era.</p>
    </div>
</div>


<div style="background-color: white; height: fit-content; width: 100%;  position: relative; text-align: center;margin-bottom: 5%;">
    <div style=" padding-bottom: 5%;">
      <h1 style="padding-top: 2%; font-size: 2.5vw;"> Customer motivation for Choosing
        <img src="../../../assets/images/main_logo.png" style="width: 10vw;">
      </h1>
      <p style="font-size: 1.1vw;">Reasons and factors that lead customers to select Infynix for their needs.</p>
      </div>
      <div style="display: flex; justify-content: center;">
        <div style="background-color: #a8adc5; padding-top: 2%; width: 20%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/network/card1.jpg" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">Breadth of Availability</h1>
                <p style="font-size: 1.1vw;">Infynix's extensive network coverage allows customers to connect with confidence, even in remote or challenging regions.</p>
            </div>
        </div>
        <div style="background-color: #a8adc5d0; padding-top: 2%; width: 20%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/network/card-2.jpg" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">Cost-Effectiveness</h1>
                <p style="font-size: 1.1vw;">We optimize bandwidth utilization, minimize unnecessary expenses, and deliver maximum value for our customers' investment.</p>
            </div>
        </div>
        <div style="background-color: #a8adc59c; width: 20%; padding-top: 2%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/network/card-3.jpg" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">Bandwidth Flexibility</h1>
                <p style="font-size: 1.1vw;">Infynix offers flexible bandwidth options by adjusting bandwidth during peak hours or expanding capacity for data-intensive tasks to ensure smooth network performance.                </p>
            </div>
        </div>
        <div style="background-color: #a8adc565; padding-top: 2%; width: 20%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/network/card-4.jpg" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">DDoS Protection</h1>
                <p style="font-size: 1.1vw;">Infynix's network services come equipped with powerful DDoS protection measures- enhanced security, safeguarding networks and data from malicious cyber-attacks.</p>
            </div>
        </div>
    </div>
</div>