<div  style="width: 100%; position: relative; background-color: darkblue; height: fit-content;">
    <img style="width: 100%; opacity: 0.7;" src="../../../assets/images/cloud/sb1bg.jpg">
    <div style="position: absolute; color: white; top: 30%;left: 10%; width:50%; "><h1 style=" font-size: 2.5vw;font-weight: bold;">Cloud Hosted Applications</h1><p style="font-size: 1.5vw;">| Experience the Future of Seamless Cloud Applications - Performance, Security, and Innovation Combined |</p></div>
</div>
<div style="background-color: rgba(233,236,246,255); display: flex; padding-top: 2%; padding-bottom: 2%; padding-left: 15%;">
    <div style="margin-top: 8%; z-index: 2;"><img src="../../../assets/images/cloud/sb1desc.jpg" alt="" style="width: 30vw;"> </div>
<div style="background-color: white; text-align: left; padding-left: 7%; padding-right: 10%;transform: translate(-10%,0%); width: 55vw; padding-left: 10%; padding-top: 3%; padding-bottom: 3%;">
<h1 style="font-size: 2.2vw;padding-top: 5%; padding-bottom: 5%; text-align: right; font-weight: 700; padding-right: 5%;">Drive Operational Excellence with Cloud Services</h1><p style="font-size: 1.2vw; font-weight: 350;text-align:justify">​Cloud hosting enables seamless accessibility to applications and websites by harnessing cloud resources, while cleverly avoiding the detectable patterns of traditional single-server hosting. Utilizing a network of interconnected virtual and physical cloud servers, it delivers exceptional flexibility and scalability for a truly agile web presence. A cloud-based application refers to a software service (SaaS) hosted in the cloud, allowing users to access it via subscription. Essentially, these applications reside on a cloud infrastructure, accessible worldwide through the internet."</p>
</div>
</div>
<div style="background-color: white; height: fit-content; width: 100%;  position: relative; text-align: center;margin-bottom: 5%;">
    <div style=" padding-bottom: 5%;">
      <h1 style="padding-top: 2%; font-size: 2.5vw;"> Customer motivation for Choosing
        <img src="../../../assets/images/main_logo.png" style="width: 10vw;">
      </h1>
      <p style="font-size: 1.1vw;">Reasons and factors that lead customers to select Infynix for their needs.</p>
      </div>
      <div style="display: flex; justify-content: center;">
        <div style="background-color: #a8adc5; padding-top: 2%; width: 20%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/cloud/customermotivation1.jpg" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">Data is Secure</h1>
                <p style="font-size: 1.1vw;">Discover unparalleled security with top-tier service level agreements, round-the-clock platform monitoring, and a remarkable 99.9% platform up-time, all fortified by extensive years of cloud expertise.</p>
            </div>
        </div>
        <div style="background-color: #a8adc5d0; padding-top: 2%; width: 20%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/cloud/customermotivation2.jpg" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">Control Costs</h1>
                <p style="font-size: 1.1vw;">Unlike purchasing hardware, Cloud Compute allows you to pay only for the  resources you use on a monthly basis, providing cost-effective flexibility for your current needs.</p>
            </div>
        </div>
        <div style="background-color: #a8adc59c; width: 20%; padding-top: 2%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/cloud/customermotivation3.jpg" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">Scalable Software</h1>
                <p style="font-size: 1.1vw;">Scalable software is designed to accommodate the growing demands of users and data without compromising efficiency. With its ability to expand to handle increased workloads, it ensures a smooth and optimized experience.</p>
            </div>
        </div>
        </div>
    </div>  
  
