<nav class="navbar navbar-expand-lg navbar-light bg-light small-n">

    <ul class="navbar-nav mr-auto" style="padding: 0%;">
      <li class="nav-item active text-nav-small">
        <a class="nav-link text-nav" routerLink="home">HOME</a>
      </li>
      <li class="nav-item text-nav-small">
        <a class="nav-link text-nav" href="#">RESOURCES</a>
      </li>
      <li class="nav-item dropdown text-nav-small">
        <a class="nav-link  text-nav" href="#">CAREERS</a>
      </li>
      <li class="nav-item text-nav-small">
        <a class="nav-link text-nav" href="#">CONTACT US</a>
      </li>
    </ul>
   
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light big-n">
  <a class="navbar-brand" routerLink="home">
    <img src="../assets/images/main_logo.png" width="" height="50" class="d-inline-block align-top scroll-im" alt="" style="position: absolute; left: 10%; bottom: 10px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" style="color: aliceblue;"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNav">
    <ul class="navbar-nav text-nav-big">
      <li class="nav-item active big-nav">
        <a class="nav-link text-nav-b" href="#">About Us</a>
      </li>
      <li class="nav-item dropdown big-nav">
        <a class="nav-link  text-nav-b" routerLink="cloud" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cloud
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown big-nav">
        <a class="nav-link  text-nav-b" routerLink="network" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Networks
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown big-nav">
        <a class="nav-link  text-nav-b" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Security
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown big-nav">
        <a class="nav-link text-nav-b" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Segments
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top" style="display: flex;
justify-content: flex-end; margin: auto; width: 100%; display: flex;  background-color: rgba(26,43,109,255); color: white; margin-bottom: 0 !important;">
  <div class="col mb-3">
    <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
      <img src="../assets/images/main_logo.png" width="" height="50" class="d-inline-block align-top scroll-im" alt="" style="position: absolute;margin-left: 2%;">
    </a>
    <p style="position: relative; margin-left: 9%; margin-top: 20%; width:80%;font-size: xx-small;">Integrated Telecom and Digital Services Organization. Backed-up by a strong team of 210 Telecom Professionals. PAN India offerings include network connectivity, cloud, security, collaboration and IT services</p>
  </div>

  <div class="col mb-3">
    
  </div>

  <div class="col mb-3" style="">
    <h4 style="position: absolute; margin-left: -20px;">Explore</h4><br><br>
    <ul class="nav flex-column" style="position: relative; list-style-type: disc; color: white;">
      <li class="nav-item " style="margin-bottom: -5px;"><a href="#" class="nav-link p-0 text-body-secondary" style="font-size: small;">Enterprise<br>Connectivity</a></li>
      <li class="nav-item " style="margin-bottom: -5px;"><a href="#" class="nav-link p-0 text-body-secondary" style="font-size: small;">SDWAN</a></li>
      <li class="nav-item "style="margin-bottom: -5px;"><a href="#" class="nav-link p-0 text-body-secondary" style="font-size: small;">Pricing</a></li>
      <li class="nav-item "style="margin-bottom: -5px;"><a href="#" class="nav-link p-0 text-body-secondary" style="font-size: small;">Cloud Service</a></li>
      <li class="nav-item "style="margin-bottom: -5px;"><a href="#" class="nav-link p-0 text-body-secondary" style="font-size: small;">Data Center</a></li>
      <li class="nav-item "style="margin-bottom: -5px;"><a href="#" class="nav-link p-0 text-body-secondary" style="font-size: small;">Managed Services</a></li>
      
    </ul>
  </div>

  <div class="col mb-3">
    <h4 style="position: absolute; margin-left: -20px;">Useful Links</h4><br><br>
    <ul class="nav flex-column" style="position: relative; list-style-type: disc;">
      <li class="nav-item "style="margin-bottom: -5px;"><a routerLink="home" class="nav-link p-0 text-body-secondary"style="font-size: small;">Home</a></li>
      <li class="nav-item "style="margin-bottom: -5px;"><a href="#" class="nav-link p-0 text-body-secondary"style="font-size: small;">About Us</a></li>
      <li class="nav-item "style="margin-bottom: -5px;"><a href="#" class="nav-link p-0 text-body-secondary"style="font-size: small;">Services</a></li>
      <li class="nav-item "style="margin-bottom: -5px;"><a href="#" class="nav-link p-0 text-body-secondary"style="font-size: small;">Segments</a></li>
      <li class="nav-item "style="margin-bottom: -5px;"><a href="#" class="nav-link p-0 text-body-secondary"style="font-size: small;">Contact</a></li>
    </ul>
  </div>

  <div class="col mb-3">
    <h4 style="position: absolute; margin-left: -20px;">Connect</h4><br><br>
    <ul class="nav flex-column">
      <li class="nav-item mb-2" style="display: flex; align-items: center;">
        <a href="#" class="nav-link p-0 text-body-secondary">
          <i class="icon" style="background: rgb(255, 255, 255); margin-left: -25px;">
            <svg class="hm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" height="15px" width="15px" version="1.1" id="Capa_1" viewBox="0 0 297 297" xml:space="preserve">
              <g>
                <path d="M148.5,0C87.43,0,37.747,49.703,37.747,110.797c0,91.026,99.729,179.905,103.976,183.645   c1.936,1.705,4.356,2.559,6.777,2.559c2.421,0,4.841-0.853,6.778-2.559c4.245-3.739,103.975-92.618,103.975-183.645   C259.253,49.703,209.57,0,148.5,0z M148.5,272.689c-22.049-21.366-90.243-93.029-90.243-161.892   c0-49.784,40.483-90.287,90.243-90.287s90.243,40.503,90.243,90.287C238.743,179.659,170.549,251.322,148.5,272.689z"/>
                <path d="M148.5,59.183c-28.273,0-51.274,23.154-51.274,51.614c0,28.461,23.001,51.614,51.274,51.614   c28.273,0,51.274-23.153,51.274-51.614C199.774,82.337,176.773,59.183,148.5,59.183z M148.5,141.901   c-16.964,0-30.765-13.953-30.765-31.104c0-17.15,13.801-31.104,30.765-31.104c16.964,0,30.765,13.953,30.765,31.104   C179.265,127.948,165.464,141.901,148.5,141.901z"/>
              </g>
            </svg>
          </i>
          <b style="margin-left: 5px;">Banglore</b>
        </a>
      </li>
    </ul>
  </div>
</footer>