<div  style="width: 100%; position: relative; background-color: darkblue; height: fit-content;">
    <img style="width: 100%; opacity: 0.7;" src="../../../assets/images/cloud/sb4bg.jpg">
    <div style="position: absolute; color: white; top: 20%;left: 10%; width:50%; "><h1 style=" font-size: 2.5vw;">Unlock the Power of Azure Cloud</h1><p style="font-size: 1.5vw;">|Empowering Your Digital Transformation with Infinite Possibilities|</p></div>
</div>
<div style="background-color: rgba(233,236,246,255); display: flex; padding-top: 2%; padding-bottom: 2%; padding-left: 15%;">
    <div style="margin-top: 8%; z-index: 2;"><img src="../../../assets/images/cloud/sb4desc.jpg" alt="" style="width: 30vw;"> </div>
<div style="background-color: white; text-align: left; padding-left: 7%; padding-right: 10%;transform: translate(-10%,0%); width: 55vw; padding-left: 10%; padding-top: 3%; padding-bottom: 3%;">
<h1 style="font-size: 2.2vw;padding-top: 5%; padding-bottom: 5%; text-align: right; font-weight: 700; padding-right: 5%;">Harness the Power of Microsoft Azure with Infynix Solutions</h1><p style="font-size: 1.2vw; font-weight: 350;">​Enterprises are leveraging the Azure platform to elevate their digital journey through IT modernization. Infynix presents an extensive range of products and services encompassing assessment, migration, hybrid cloud management, Microsoft 365 adoption, and managed security solutions for both Azure and hybrid IT deployments.With a combination of proprietary and partner tools, we have automated service delivery throughout the entire Azure cloud adoption process, expediting the transformation journey with precision and operational efficiency. Our offerings include cost optimization, compliance, governance, and more, ensuring a seamless and value-driven experience."</p>
</div>
</div>

<div class="image-container" style="background-color: rgba(13, 22, 55, 255); padding-top: 10px; padding-bottom: 10px; height: fit-content;">
    <div style="background-color: rgb(255, 255, 255);">
      <img src="../../../assets/images/home/home-expert.jpg" style="max-width: 100%; height: auto;">
      <h1 class="image-text" style="font-size: 2.2vw;">Highlights:</h1>
      <div style="position: absolute; top: 17%; display: flex; gap: 5%; padding-left: 20%;">
        <div class="black-box" style="width: 30%; background-color: rgba(0, 0, 0, 0.349); padding: 1%; box-sizing: border-box; font-size: 1vw; margin-right: 10%;">
          <p class="dynamic-font-size" style=" padding: 2%; text-align: left; color: white;">Seamless Hybrid and Azure Cloud Management: Empowering Your Business with Streamlined Deployment, Optimal Costs, and Robust Governance.</p>
        </div>
        <div class="black-box" style="width: 30%; background-color: rgba(0, 0, 0, 0.349); padding: 1%; box-sizing: border-box; font-size: 1vw;">
          <p class="dynamic-font-size" style=" padding: 2%; text-align: left; color: white;">Your All-in-One Cloud Solution Partner: Expertise in Cloud Migration, Connectivity, and Azure Professional Services.</p>
        </div>
        
      </div>
      <div style="position: absolute;top: 60%; display: flex; gap: 5%; padding-left: 20%;">
        <div class="black-box" style="width: 30%; background-color: rgba(0, 0, 0, 0.349); padding: 10px; box-sizing: border-box;font-size: 1vw; margin-right: 10%;">
            <p class="dynamic-font-size" style=" padding: 2%; text-align: left; color: white;">Leading Express Route Provider Across India: Hosting Government Community Cloud on Azure Stack for a Prominent State Government in India.</p>
          </div>
        <div class="black-box" style="width: 30%; background-color: rgba(0, 0, 0, 0.349); padding: 10px; box-sizing: border-box;font-size: 1vw;">
          <p class="dynamic-font-size" style=" padding: 2%; text-align: left; color: white;">Proud Microsoft Gold Partner: Expertise in App Development & Integration, Cloud Platform, Collaboration, and Content Solutions.</p>
        </div>
       </div>
    </div>
  </div>
  
  <div style="background-color: white; height: fit-content; width: 100%;  position: relative; text-align: center;">
    <div style=" padding-bottom: 5%;">
      <h1 style="padding-top: 2%; font-size: 2.5vw;"> Customer motivation for Choosing
        <img src="../../../assets/images/main_logo.png" style="width: 10vw;">
      </h1>
      <p style="font-size: 1.1vw;">Reasons and factors that lead customers to select Infynix for their needs.</p>
      </div>
      <div style="display: flex; justify-content: center;">
        <div style="background-color: #a8adc5; padding-top: 2%; width: 20%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/cloud/customermotivation1.jpg" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">Data is Secure</h1>
                <p style="font-size: 1.1vw;">Discover unparalleled security with top-tier service level agreements, round-the-clock platform monitoring, and a remarkable 99.9% platform up-time, all fortified by extensive years of cloud expertise.</p>
            </div>
        </div>
        <div style="background-color: #a8adc5d0; padding-top: 2%; width: 20%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/cloud/customermotivation2.jpg" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">Control Costs</h1>
                <p style="font-size: 1.1vw;">Unlike purchasing hardware, Cloud Compute allows you to pay only for the  resources you use on a monthly basis, providing cost-effective flexibility for your current needs.</p>
            </div>
        </div>
        <div style="background-color: #a8adc59c; width: 20%; padding-top: 2%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/cloud/customermotivation3.jpg" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">Scalable Software</h1>
                <p style="font-size: 1.1vw;">Scalable software is designed to accommodate the growing demands of users and data without compromising efficiency. With its ability to expand to handle increased workloads, it ensures a smooth and optimized experience.</p>
            </div>
        </div>
        </div>
    </div>  
  

