<div  style="width: 100%; position: relative; background-color: darkblue; height: fit-content;">
    <img style="width: 100%; opacity: 0.7;" src="../../../assets/images/network/servicemain.jpg">
    <div style="position: absolute; color: white; top: 20%;left: 10%; width:50%; "><h1 style=" font-size: 2.5vw;">Managed Network Services</h1><p style="font-size: 1.5vw;">| Empower Your Business with Streamlined Network Management |</p></div>

</div>
<div style="background-color: rgb(171, 180, 219);; display: flex; padding-top: 2%; padding-bottom: 2%; padding-left: 2%; padding-bottom: 5%;">
    <div style="margin-top: 2%;"><img src="../../../assets/images/network/servicesub.jpg" alt="" style="width: 40vw; "> </div>
<div style="background-color: white; text-align: left; padding-left: 7%; padding-right: 2%; height: fit-content; padding-bottom: 2%;">
<h1 style="font-size: 2.2vw;padding-top: 5%; padding-bottom: 5%; font-weight: 700; padding-right: 5%; color: rgba(0, 46, 93, 255);">Managed Network Services</h1><p style="font-size: 1.2vw; font-weight: 350;">At Infynix, we understand that modern enterprises face the challenge of investing extensively in upskilling their workforce, acquiring advanced tools and technologies, and ensuring the business's security, reliability, and agility. These efforts often divert valuable time and financial resources from their core business objectives.

    Our integrated skillsets, processes, and cutting-edge tools provide a cost-effective solution that drives efficiencies across a wide range of areas. By leveraging our expertise in network management, we de-risk technology for businesses, minimizing capital and operational expenses. This enables enterprises to redirect their focus towards core functions and strategic initiatives, unburdened by unnecessary financial burdens.
    
    With Infynix as your partner, you can optimize your business operations, increase cost savings, and ensure a secure and agile infrastructure to fuel your success in the competitive landscape.</p>
</div>
</div>

<div style="background-color: white; height: fit-content; width: 100%; display: block; padding-top: 3%; padding-bottom: 2%;">
    <h1 style="font-size: 2vw; justify-content: center; display: flex;">Explore Our Managed Network Services</h1>
    <div style="height: fit-content; width: 100%; display: flex; padding: 5% 10%;">
        <div style="background-color: rgba(128, 128, 128, 0.158); width: 45vw;height: fit-content; padding: 5%; transform: translate(10%,0%); z-index: 2; padding-right: 7%;"><h1 style="font-size: 1.2vw; font-weight: 750; padding-bottom: 2%;">1. Managed NOC services</h1><p style="font-size: 1vw;">Optimize Network Performance with Infynix's NOC Services”

            Infynix's robust global Network Operations Center (NOC) simplifies network monitoring and management, ensuring seamless operations in today's complex networking landscape. Our expert team provides 24x7 link monitoring, swift incident management, and unified enterprise-grade SLA management across multiple service providers, enhancing network performance.</p></div>
            
            <img src="../../../assets/images/network/explore1.jpg" style="width: 35vw; transform: translate(0%,40%); height: 20vw">
        </div>
        <div style="height: fit-content; width: 100%; display: flex; padding: 5% 10%;">
            <img src="../../../assets/images/network/explore2.jpg" style="width: 35vw; transform: translate(10%,-30%);height: 20vw">
            
            
            <div style="background-color: rgba(128, 128, 128, 0.158); width: 45vw;height: fit-content; padding: 5%; transform: translate(-2%,0%); z-index: 2; padding-left: 7%;"><h1 style="font-size: 1.2vw; font-weight: 750; padding-bottom: 2%;">Features:-</h1>
            <ul style="font-size: 1vw;">
                <li>
                    Seamless cloud enablement and management
                </li>
                <li>
                    Streamlined and agile operations through automation
                </li>
                <li>
                    Flexibility with hybrid WAN and convergence
                </li>
                <li>
                    Enhanced visibility with advanced analytics
                </li>
                <li>
                    Robust security for cloud, branch, and users
                </li>
            </ul>
            </div>
                
            </div>
            <div style="height: fit-content; width: 100%; display: flex; padding: 5% 10%;">
                <div style="background-color: rgba(128, 128, 128, 0.158); width: 45vw;height: fit-content; padding: 5%; transform: translate(10%,-10%); z-index: 2; padding-right: 7%;"><h1 style="font-size: 1.2vw; font-weight: 750; padding-bottom: 2%;">1. Managed NOC services</h1><p style="font-size: 1vw;">Optimize Network Performance with Infynix's NOC Services”
        
                    Infynix's robust global Network Operations Center (NOC) simplifies network monitoring and management, ensuring seamless operations in today's complex networking landscape. Our expert team provides 24x7 link monitoring, swift incident management, and unified enterprise-grade SLA management across multiple service providers, enhancing network performance.</p></div>
                    
                    <img src="../../../assets/images/network/explore3.jpg" style="width: 30vw; transform: translate(0%,0%); height: 15vw">
                </div>
                <div style="height: fit-content; width: 100%; display: flex; padding: 1% 10%;">
                    <img src="../../../assets/images/network/explore5.jpg" style="width: 30vw; transform: translate(10%,10%); height: 15vw">
                    
                    <div style="background-color: rgba(128, 128, 128, 0.158); width: 40vw;height: fit-content; padding: 5%; transform: translate(10%,-10%); z-index: 2; padding-right: 7%;"><h1 style="font-size: 1.2vw; font-weight: 750; padding-bottom: 2%;">
                        Security Services:-</h1>
                        <ul style="font-size: 1vw;">
                            <li>
                                Firewall Management: Firewall-as-a-service with complete security policy management.
                            </li>
                            <li>
                                WAN Protection: Safeguarding the organization's WAN connection with managed firewall, web filtering, and antivirus protection as a consolidated cloud service.
                            </li>
                            <li>
                                Secure Remote Connectivity: Secure connections for remote users.
                            </li>
                            <li>
                                DDoS Protection: Protection of corporate IT assets from malicious attacks.
                            </li>
                            <li>
                                Cloud-Secured SD-WAN: Securing multi-OEM SD-WAN platform deployments through cloud-delivered security.
                            </li>
                        </ul>
                        
                    </div>
                    </div>
                    <div style="height: fit-content; width: 100%; display: flex; padding: 5% 10%;">
                        <div style="background-color: rgba(128, 128, 128, 0.158); width: 45vw;height: fit-content; padding: 5%; transform: translate(10%,-10%); z-index: 2; padding-right: 7%;"><h1 style="font-size: 1.2vw; font-weight: 750; padding-bottom: 2%;">
                            Features:-</h1>
                            <ul style="font-size: 1vw;">
                                <li>
                                    Save costs and ensure regulatory compliance management.
                                </li>
                                <li>
                                    Protect endpoints, applications, systems, and networks comprehensively.
                                </li>
                                <li>
                                    Manage your network with industry best practices.
                                </li>
                                <li>
                                    Automate data analysis and simplify IT tasks.
                                </li>
                                <li>
                                    Partner with an expert in managing various security control technologies.
                                </li>
                                <li>
                                    Comprehensive managed services using leading platforms.
                                </li>
                                <li>
                                    Expertise in multiple product vendors across industries.
                                </li>
                                <li>
                                    Clear view of security status with a user-friendly interface.
                                </li>
                            </ul>
                        </div>
                            
                            <img src="../../../assets/images/network/explore4.jpg" style="width: 30vw; transform: translate(0%,0%); height: 20vw">
                        </div>
</div>

<div style="background-color: white; height: fit-content; width: 100%;  position: relative; text-align: center;">
    <div style=" padding-bottom: 5%;">
      <h1 style="padding-top: 2%; font-size: 2.5vw;"> Customer motivation for Choosing
        <img src="../../../assets/images/main_logo.png" style="width: 10vw;">
      </h1>
      <p style="font-size: 1.1vw;">Reasons and factors that lead customers to select Infynix for their needs.</p>
      </div>
      <div style="display: flex; justify-content: center;">
        <div style="background-color: #a8adc5; padding-top: 2%; width: 20%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/network/managedcard1.jpg" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">Strong OEM Engagement</h1>
                <p style="font-size: 1.1vw;">Comprehensive network solutions from deep partnerships with technology OEMs.</p>
            </div>
        </div>
        <div style="background-color: #a8adc5d0; padding-top: 2%; width: 20%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/network/managedcard2.jpg" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">Expertise and Experience</h1>
                <p style="font-size: 1.1vw;">
                    Proven experience in large network integration projects with hybrid cloud environments.
                </p>
            </div>
        </div>
        <div style="background-color: #a8adc59c; width: 20%; padding-top: 2%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/network/managedcard3.jpg" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">SProactive Monitoring and Support</h1>
                <p style="font-size: 1.1vw;">Swift issue detection and resolution for minimized downtime and disruptions.</p>
            </div>
        </div>
        <div style="background-color: #a8adc565; padding-top: 2%; width: 20%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/network/managedcard4.jpg" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">Network-Agnostic Managed Services</h1>
                <p style="font-size: 1.1vw;">Collaborative management across all service provider networks.</p>
            </div>
        </div>
    </div>
</div>