<div id="carouselExampleIndicators" class="carousel slide dynamic-height-carousel" data-ride="carousel" style="background-color: rgba(223,245,253,255);">
  <ol class="carousel-indicators" style="z-index: 10;">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" style="font-size: 20% !important;">
    <div class="carousel-item active">
      <img class="d-block" src="../../../assets/images/home/slide-2.jpg" alt="First slide" style="opacity: 80%;">
      <div class="carousel-caption">
        <h1 style="font-weight: bolder; font-size: 3vw;filter: drop-shadow(10px 10px 4px black);">Ever-evolving for improved service delivery.</h1>
      </div>
</div>
    <div class="carousel-item">
      <img class="d-block" src="../../../assets/images/home/slide-1.jpg" alt="Second slide" style="opacity: 80%;">
      <div class="carousel-caption">
        <h1 style="font-weight: bolder; font-size: 2.5vw;filter: drop-shadow(10px 10px 4px black);">Unlocking your business' potential with Managed Connectivity and Smart Cloud services.</h1>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block" src="../../../assets/images/home/slide-3.jpg" alt="Third slide" style="opacity: 90%;">
      <div class="carousel-caption">
        <h1 style="font-weight: bolder; font-size: 3vw;filter: drop-shadow(10px 10px 4px black);">Driving the digital transformation of tomorrow.</h1>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
</div>

<script>
window.addEventListener('resize', adjustCarouselHeight);

function adjustCarouselHeight() {
  const dynamicCarousel = document.querySelector('.dynamic-height-carousel');
  const carouselInner = dynamicCarousel.querySelector('.carousel-inner');
  const windowHeight = window.innerHeight;
  
  dynamicCarousel.style.maxHeight = `${windowHeight}px`;
  carouselInner.style.maxHeight = `${windowHeight}px`;
}

adjustCarouselHeight();
</script>

<div style="background-color: rgba(13, 22, 55, 255); padding-top: 20px; padding-bottom: 10px; height: fit-content;">
  <div style="background-color: rgb(171, 180, 219); display: flex; width: 100%;">
    <div style="flex: 1; padding-left: 8%; padding-top: 4%; padding-bottom: 4%; padding-right: 5%; font-size: 1.3vw;">
      <h1 style="font-size: 2.2vw; font-weight: 750;">About Infynix</h1>
      <p id="dynamicParagraph" style="padding-top: 3%; text-align: justify;">We are one of the fastest growing Integrated Service Provider for SMB to Large Enterprises, having operations in multiple cities in India and rapidly expanding to new geographies. We provide Integrated Data and Connectivity Services to the Mid Sized Enterprises to Large Enterprises offering them Data Connectivity, SD WAN, Cyber Security, Cloud Services, and Managed Services thereby enabling the clients to leverage data in a Digital age.</p>
    </div>
    <div style="display: flex; align-items: center;">
      <img src="../../../assets/images/home/about.png" id="dynamicImage" style="min-height: 100%; max-width: 50vw; margin-left: 5%; margin-right: 10%; width: auto; overflow: hidden;">
    </div>
  </div>
</div>


<div style="background-color: rgba(13, 22, 55, 255); padding-top: 10px; padding-bottom: 10px; height: fit-content; width: 100%;">
  <div style="background-color: white; display: block; padding-bottom: 3%; padding-bottom: 39%; padding-top: 0%; height: fit-content; position: relative;">
    <h1 style="text-align: center; font-size: 3vw;padding-top: 2%;">Our Service Offerings</h1>
    <h5 style="text-align: center; font-weight: normal; padding-bottom: 5%; font-size: 1.2vw;">Delivering seamless integration through assets, services, and partnership models.</h5>
    <div style="display: flex; height: fit-content !important; width: 100%;">
  <div style="border: 0.4vw solid rgba(242,242,242,255); width: 20%; position: absolute; left: 11.5%; margin-top: 2%; padding: 0.999%;">
    <img src="../../../assets/images/home/home-card-1.gif" style="width: 50%; margin-left: 20%; opacity: 0;">
    <h1 style="opacity: 0; font-size: 2.5vw; opacity: 0;">Network</h1>
    <p style="font-size: 1.2vw; opacity: 0;">Our Enterprise Internet is suitable for all enterprises, & for those who need mission-critical reliability from their internet. We offers unlimited internet traffic.</p>
    <a routerLink="network" class="btn btn-primary" style="background-color: rgba(240, 248, 255, 0);color: rgba(0, 46, 93, 255);font-size: 1vw; margin-left: 1.5vw; opacity: 0;pointer-events: none; cursor: default;">+ Learn More</a>
   
  </div>
  <div style="background-color: rgba(242,242,242,255); width: 20%; left: 10%; position: absolute;  padding: 2%;">
  <img src="../../../assets/images/home/home-card-1.gif" style="width: 50%; margin-left: 20%;">
  <h1 style="font-size: 2.5vw;">Network</h1>
  <p style="font-size: 1.2vw;">Our Enterprise Internet is suitable for all enterprises, & for those who need mission-critical reliability from their internet. We offers unlimited internet traffic.</p>
  <a href="../network" class="btn btn-primary sel" style="background-color: rgba(240, 248, 255, 0);color: rgba(0, 46, 93, 255);font-size: 1vw; margin-left: 1.5vw;">+ Learn More</a>
    
</div>
<div style="border: 0.4vw solid rgba(242,242,242,255); width: 20%; position: absolute; left: 41.5%; margin-top: 2%; padding: 1.6%;">
  <img src="../../../assets/images/home/home card -2.gif" style="width: 50%; margin-left: 20%; opacity: 0;">
  <h1 style="opacity: 0; font-size: 2.5vw; opacity: 0;">Cloud</h1>
  <p style="font-size: 1.2vw; opacity: 0;">Cloud Compute is a private, shared cloud compute platform available in multiple locations. Business workloads benefit though hosting.</p>
  <a href="#" class="btn btn-primary" style="background-color: rgba(240, 248, 255, 0);color: rgba(0, 46, 93, 255);font-size: 1vw; margin-left: 1.5vw; opacity: 0;pointer-events: none; cursor: default; margin-top: 1.2vw;">+ Learn More</a>
 
</div>
<div style="background-color: rgba(242,242,242,255); width: 20%; left: 40%; position: absolute;  padding: 2%; ">
<img src="../../../assets/images/home/home card -2.gif" style="width: 50%; margin-left: 20%;">
<h1 style="font-size: 2.5vw;">Cloud</h1>
<p style="font-size: 1.2vw;">Cloud Compute is a private, shared cloud compute platform available in multiple locations. Business workloads benefit though hosting.</p>
<a href="../cloud" class="btn btn-primary sel" style="background-color: rgba(240, 248, 255, 0);color: rgba(0, 46, 93, 255);font-size: 1vw; margin-left: 1.5vw; margin-top: 12%;">+ Learn More</a>
  
</div>
<div style="border: 0.4vw solid rgba(242,242,242,255); width: 20%; position: absolute; left: 71.5%; margin-top: 2%; padding: 1.15%;">
  <img src="../../../assets/images/home/home card -3.gif" style="width: 50%; margin-left: 20%; opacity: 0;">
  <h1 style="opacity: 0; font-size: 2.5vw; opacity: 0;">Security</h1>
  <p style="font-size: 1.2vw; opacity: 0;">Our Infrastructure Management Operations Centre experts can also analyze your more complex business issues with a view to re-engineering.</p>
  <a href="#" class="btn btn-primary" style="background-color: rgba(240, 248, 255, 0);color: rgba(0, 46, 93, 255);font-size: 1vw; margin-left: 1.5vw; opacity: 0;pointer-events: none; cursor: default;">+ Learn More</a>
 
</div>
<div style="background-color: rgba(242,242,242,255); width: 20%; left: 70%; position: absolute;  padding: 2%;">
<img src="../../../assets/images/home/home card -3.gif" style="width: 50%; margin-left: 20%;">
<h1 style="font-size: 2.5vw;">Security</h1>
<p style="font-size: 1.2vw;">Our Infrastructure Management Operations Centre experts can also analyze your more complex business issues with a view to re-engineering.</p>
<a href="../security" class="btn btn-primary sel" style="background-color: rgba(240, 248, 255, 0);color: rgba(0, 46, 93, 255);font-size: 1vw; margin-left: 1.5vw;">+ Learn More</a>
  
</div>
  </div>
</div>

</div>



<div class="image-container" style="background-color: rgba(13, 22, 55, 255); padding-top: 10px; padding-bottom: 10px; height: fit-content;">
  <div style="background-color: rgb(255, 255, 255);">
    <img src="../../../assets/images/home/home-expert.jpg" style="max-width: 100%; height: auto;">
    <h1 class="image-text" style="font-size: 2.2vw;">Infynix: Your Dependable Network Solutions Expert</h1>
    <div style="position: absolute; top: 17%; display: flex; gap: 5%; padding-left: 12.5%;">
      <div class="black-box" style="width: 25%; background-color: rgba(0, 0, 0, 0.349); padding: 1%; box-sizing: border-box; font-size: 1vw;">
        <h1 class="dynamic-font-size" style="text-align: left; color: rgba(160,227,250,255); font-size: 2vw;">Who We are:</h1>
        <p class="dynamic-font-size" style=" padding: 2%; text-align: left; color: white;">Infynix is an ISO 9001 Certified, Integrated Telecom and Digital Services Organization. Backed-up by a strong team of 210 Telecom Professionals PAN India.</p>
      </div>
      <div class="black-box" style="width: 25%; background-color: rgba(0, 0, 0, 0.349); padding: 1%; box-sizing: border-box; font-size: 1vw;">
        <h1 class="dynamic-font-size" style="text-align: left; color: rgba(160,227,250,255); font-size: 2vw;">WAN Transition:</h1>
        <p class="dynamic-font-size" style=" padding: 2%; text-align: left; color: white;">Infynix has helped more than 2000 Enterprise clients not only consolidate their WAN network but also save 20% to 30% on their current spent with improved SLA’s.</p>
      </div>
      <div class="black-box" style="width: 25%; background-color: rgba(0, 0, 0, 0.349); padding: 10px; box-sizing: border-box;font-size: 1vw;">
        <h1 class="dynamic-font-size" style="text-align: left; color: rgba(160,227,250,255); font-size: 2vw;">B2B Focused:</h1>
        <p class="dynamic-font-size" style=" padding: 2%; text-align: left; color: white;">Focused on providing only B2B, IT Enabled Services to Enterprises across the country.</p>
      </div>
    </div>
    <div style="position: absolute;top: 60%; display: flex; gap: 5%; padding-left: 12.5%;">
      <div class="black-box" style="width: 25%; background-color: rgba(0, 0, 0, 0.349); padding: 10px; box-sizing: border-box;font-size: 1vw;">
        <h1 class="dynamic-font-size" style="text-align: left; color: rgba(160,227,250,255); font-size: 2vw;">Power to Enterprise:</h1>
        <p class="dynamic-font-size" style=" padding: 2%; text-align: left; color: white;">Our Services are made for businesses that means SPEED, RELIABILITY & World Class SUPPORT.</p>
      </div>
      <div class="black-box" style="width: 25%; background-color: rgba(0, 0, 0, 0.349); padding: 10px; box-sizing: border-box;font-size: 1vw;">
        <h1 class="dynamic-font-size" style="text-align: left; color: rgba(160,227,250,255); font-size: 2vw;">People in Journey:</h1>
        <p class="dynamic-font-size" style=" padding: 2%; text-align: left; color: white;">Strong Team with Experience at all levels with more than 100+ Years of Telecom Experience with Senior Management</p>
      </div>
      <div class="black-box" style="width: 25%; background-color: rgba(0, 0, 0, 0.349); padding: 10px; box-sizing: border-box;font-size: 1vw">
        <h1 class="dynamic-font-size" style="text-align: left; color: rgba(160,227,250,255); font-size: 2vw;">Client Approval:</h1>
        <p class="dynamic-font-size" style=" padding: 2%; text-align: left; color: white;">Exemplary Industry-Leading Delivery Timelines Nationwide, Accompanied by the Pinnacle of Customer Retention Rates on Our Network</p>
      </div>
    </div>
  </div>
</div>



<div class="image-container" style="background-color: rgba(13, 22, 55, 255); padding-top: 10px; height: fit-content;padding-bottom: 0;">
  <div style="background-color: white; height: fit-content; width: 100%;  position: relative; text-align: center;">
    <div style=" padding-bottom: 5%;">
      <h1 style="padding-top: 2%; font-size: 2.5vw;"> Customer motivation for Choosing
        <img src="../../../assets/images/main_logo.png" style="width: 10vw;">
      </h1>
      <p style="font-size: 1.1vw;">Reasons and factors that lead customers to select Infynix for their needs.</p>
      </div>
      <div style="display: flex; justify-content: center;">
        <div style="background-color: #a8adc5; padding-top: 2%; width: 20%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/home/grow.jpg" style="height: 9vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">GROWS AS FAST AS YOU</h1>
                <p style="font-size: 1.1vw;">We build scale as fast, so we’re ready when you are.</p>
            </div>
        </div>
        <div style="background-color: #a8adc5d0; padding-top: 2%; width: 20%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/home/domore.jpg" style="height: 9vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">DOES MORE WITH LESS</h1>
                <p style="font-size: 1.1vw;">High performance doesn’t mean high cost. We don’t compromise on operational excellence.</p>
            </div>
        </div>
        <div style="background-color: #a8adc59c; width: 20%; padding-top: 2%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/home/data.jpg" style="height: 9vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">WHERE DATA NEVER SLEEPS</h1>
                <p style="font-size: 1.1vw;">We offer 100% avalibility, so you can be ‘always on’ your customers.</p>
            </div>
        </div>
    </div>
</div>
</div>

<div style="background-color: rgb(255, 255, 255); padding-top: 5%; display: inline-block; align-items: center; position: relative; padding-bottom: 5%;">
  <div style="padding-left: 3%;">
  <h1 style="font-size: 2vw; padding-left: 5%; color: rgba(0, 46, 93, 255);">Customer Satisfaction</h1>
  <ul style="padding-left: 30%; font-size: 1.2vw; padding-top: 3%;">
    <li style="padding-top: 5%;">Best in the industry Customer Retention and Customer Satisfaction on Infynix network.</li>
    <li style="padding-top: 5%;">24x7 NOC with Pro-active monitoring resulting in higher availability</li>
    <li style="padding-top: 5%;">Efficient Project Management resulting in Industry best Deployment Timelines (90% &lt; 2 weeks)</li>
    <li style="padding-top: 5%;">Customized solution based on business needs</li>
    <li style="padding-top: 5%;">Cost optimization leading to Lower TCO</li>
  </ul>
  </div>
   <div style="background-color: white;">
  <div class="flex-wrapper" style="position: absolute; width: 23vw; top: 15.5%; left: 120%;">
    <div class="single-chart">
      <svg viewBox="0 0 36 36" class="circular-chart green">
        <path class="circle-bg"
          d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831"
        />
        <path class="circle"
          stroke-dasharray="96, 100"
          d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831"
        />
        <text x="18" y="20.35" class="percentage">96%</text>
      </svg>
      <p style="display: flex; justify-content: center; font-size: 1vw; font-weight: 500; width: 70%; text-align: center; margin-left: 14%; color: black;" class="circle-text">Projects in two weeks</p>
      
    </div>
    <div class="single-chart">
      <svg viewBox="0 0 36 36" class="circular-chart green">
        <path class="circle-bg"
          d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831"
        />
        <path class="circle"
          stroke-dasharray="91, 100"
          d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831"
        />
        <text x="18" y="20.35" class="percentage">91%</text>
      </svg>
      <p style="display: flex; justify-content: center; font-size: 1vw; font-weight: 500; width: 33%; text-align: center; margin-left: 34%; color: black;" class="circle-text">Customers Retained</p>
      
    </div>
  
    <div class="single-chart">
      <svg viewBox="0 0 36 36" class="circular-chart green">
        <path class="circle-bg"
          d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831"
        />
        <path class="circle"
          stroke-dasharray="90, 100"
          d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831"
        />
        <text x="18" y="20.35" class="percentage">90%</text>
      </svg>
      <p style="display: flex; justify-content: center; font-size: 1vw; font-weight: 500; width: 33%; text-align: center; margin-left: 37%; color: black;" class="circle-text">Satisfied Customers</p>
    </div>
    <div style="position: absolute; top: 100%;">
      <h3 style="font-size: 1.25vw; font-weight: 600;">Customer Rates us as below (Out of 10)</h3>
    </div>
    <div style="position: relative; right: 95%;">
      <div style="position: absolute; top: 132.5%;">
<h5 style="display: flex; font-size: 1vw; text-align: right;">Up&nbsp;Time</h5>
      </div>
    </div>
    <div style="position: relative; right: 82%;">
      <div style="position: absolute; top: 120%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 74%;">
      <div style="position: absolute; top: 120%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 66%;">
      <div style="position: absolute; top: 120%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 58%;">
      <div style="position: absolute; top: 120%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 50%;">
      <div style="position: absolute; top: 120%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 42%;">
      <div style="position: absolute; top: 120%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 34%;">
      <div style="position: absolute; top: 120%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 26%;">
      <div style="position: absolute; top: 120%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 18%;">
      <div style="position: absolute; top: 120%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 10%;">
      <div style="position: absolute; top: 120%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 2%;">
      <div style="position: absolute; top: 120%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: -12.5%;">
      <div style="position: absolute; top: 130%;">
<h5 style="font-size: 1.3vw; font-weight: 700;">9.9</h5>
      </div>
    </div>
    <div style="position: relative; right: 95%;">
      <div style="position: absolute; top: 152.5%;">
<h5 style="display: flex; font-size: 1vw; text-align: right;">Latency</h5>
      </div>
    </div>
    <div style="position: relative; right: 82%;">
      <div style="position: absolute; top: 140%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 74%;">
      <div style="position: absolute; top: 140%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 66%;">
      <div style="position: absolute; top: 140%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 58%;">
      <div style="position: absolute; top: 140%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 50%;">
      <div style="position: absolute; top: 140%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 42%;">
      <div style="position: absolute; top: 140%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 34%;">
      <div style="position: absolute; top: 140%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 26%;">
      <div style="position: absolute; top: 140%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 18%;">
      <div style="position: absolute; top: 140%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 10%;">
      <div style="position: absolute; top: 140%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 2%;">
      <div style="position: absolute; top: 140%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="#929292" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: -12.5%;">
      <div style="position: absolute; top: 150%;">
<h5 style="font-size: 1.3vw; font-weight: 700;">9.8</h5>
      </div>
    </div>
    <div style="position: relative; right: 95%;">
      <div style="position: absolute; top: 172.5%;">
<h5 style="display: flex; font-size: 1vw; text-align: right;">Jitter</h5>
      </div>
    </div>
    <div style="position: relative; right: 82%;">
      <div style="position: absolute; top: 160%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 74%;">
      <div style="position: absolute; top: 160%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 66%;">
      <div style="position: absolute; top: 160%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 58%;">
      <div style="position: absolute; top: 160%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 50%;">
      <div style="position: absolute; top: 160%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 42%;">
      <div style="position: absolute; top: 160%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 34%;">
      <div style="position: absolute; top: 160%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 26%;">
      <div style="position: absolute; top: 160%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 18%;">
      <div style="position: absolute; top: 160%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 10%;">
      <div style="position: absolute; top: 160%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 2%;">
      <div style="position: absolute; top: 160%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: -12.5%;">
      <div style="position: absolute; top: 170%;">
<h5 style="font-size: 1.3vw; font-weight: 700;">9.9</h5>
      </div>
    </div>
    <div style="position: relative; right: 95%;">
      <div style="position: absolute; top: 192.5%;">
<h5 style="display: flex; font-size: 1vw; text-align: right;">Delivery</h5>
      </div>
    </div>
    <div style="position: relative; right: 82%;">
      <div style="position: absolute; top: 180%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 74%;">
      <div style="position: absolute; top: 180%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 66%;">
      <div style="position: absolute; top: 180%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 58%;">
      <div style="position: absolute; top: 180%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 50%;">
      <div style="position: absolute; top: 180%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 42%;">
      <div style="position: absolute; top: 180%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 34%;">
      <div style="position: absolute; top: 180%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 26%;">
      <div style="position: absolute; top: 180%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 18%;">
      <div style="position: absolute; top: 180%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 10%;">
      <div style="position: absolute; top: 180%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 2%;">
      <div style="position: absolute; top: 180%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="#929292" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: -12.5%;">
      <div style="position: absolute; top: 190%;">
<h5 style="font-size: 1.3vw; font-weight: 700;">9.6</h5>
      </div>
    </div>
    <div style="position: relative; right: 95%;">
      <div style="position: absolute; top: 212.5%;">
<h5 style="display: flex; font-size: 1vw; text-align: right;">Support</h5>
      </div>
    </div>
    <div style="position: relative; right: 82%;">
      <div style="position: absolute; top: 200%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 74%;">
      <div style="position: absolute; top: 200%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 66%;">
      <div style="position: absolute; top: 200%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 58%;">
      <div style="position: absolute; top: 200%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 50%;">
      <div style="position: absolute; top: 200%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 42%;">
      <div style="position: absolute; top: 200%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 34%;">
      <div style="position: absolute; top: 200%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 26%;">
      <div style="position: absolute; top: 200%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 18%;">
      <div style="position: absolute; top: 200%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 10%;">
      <div style="position: absolute; top: 200%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="rgba(106,228,232,255)" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: 2%;">
      <div style="position: absolute; top: 200%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="4vw" viewBox="0 0 16 16" fill="#929292" class="bi bi-dot">
        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg>
      </div>
    </div>
    <div style="position: relative; right: -12.5%;">
      <div style="position: absolute; top: 210%;">
<h5 style="font-size: 1.3vw; font-weight: 700;">9.8</h5>
      </div>
    </div>
  </div>
</div> 
</div> 

<div style=" background-color: rgb(171, 180, 219); align-items: center; justify-content: center;padding-top:3% ; text-align: center; padding-bottom: 3%;">
<h1 style="font-size: 2.5vw; color: rgba(0, 46, 93, 255); display: inline-flex; justify-content: center; text-align: center; ">Client Portfolio</h1>
<p style="font-size: 1.3vw; text-align: center; display: -webkit-flex; justify-content: center;margin-right: 25%; margin-left: 25%; font-weight: 200;">Aiding clients in promoting growth and accelerating digital transformation by driving renewed value and adopting new technologies.</p>
<div style="background-color: white; width: 100%; height: fit-content;">
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item nav-item1" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#media" type="button" role="tab" aria-controls="home" aria-selected="true">Media</button>
  </li>
  <li class="nav-item nav-item1" role="presentation">
    <button class="nav-link nav-link1" id="profile-tab" data-bs-toggle="tab" data-bs-target="#educational" type="button" role="tab" aria-controls="profile" aria-selected="false">Educational</button>
  </li>
  <li class="nav-item nav-item1" role="presentation">
    <button class="nav-link nav-link1" id="contact-tab" data-bs-toggle="tab" data-bs-target="#manufacturing" type="button" role="tab" aria-controls="contact" aria-selected="false">Manufacturing</button>
  </li>
  <li class="nav-item nav-item1" role="presentation">
    <button class="nav-link nav-link1" id="contact-tab" data-bs-toggle="tab" data-bs-target="#co-working" type="button" role="tab" aria-controls="contact" aria-selected="false">Co-working</button>
  </li>
  <li class="nav-item nav-item1" role="presentation">
    <button class="nav-link nav-link1" id="contact-tab" data-bs-toggle="tab" data-bs-target="#real" type="button" role="tab" aria-controls="contact" aria-selected="false">Real Estate</button>
  </li>
  <li class="nav-item nav-item1" role="presentation">
    <button class="nav-link nav-link1" id="contact-tab" data-bs-toggle="tab" data-bs-target="#retail" type="button" role="tab" aria-controls="contact" aria-selected="false">Retail</button>
  </li>
  <li class="nav-item nav-item1" role="presentation">
    <button class="nav-link nav-link1" id="contact-tab" data-bs-toggle="tab" data-bs-target="#logistics" type="button" role="tab" aria-controls="contact" aria-selected="false">Logistics</button>
  </li>
  <li class="nav-item nav-item1" role="presentation">
    <button class="nav-link nav-link1" id="contact-tab" data-bs-toggle="tab" data-bs-target="#it" type="button" role="tab" aria-controls="contact" aria-selected="false">IT</button>
  </li>
  <li class="nav-item nav-item1" role="presentation">
    <button class="nav-link nav-link1" id="contact-tab" data-bs-toggle="tab" data-bs-target="#healthcare" type="button" role="tab" aria-controls="contact" aria-selected="false">Healthcare</button>
  </li>
  <li class="nav-item nav-item1" role="presentation">
    <button class="nav-link nav-link1" id="contact-tab" data-bs-toggle="tab" data-bs-target="#finance" type="button" role="tab" aria-controls="contact" aria-selected="false">Finance</button>
  </li>

</ul>
<div class="tab-content" id="myTabContent" style="height: fit-content;">
  <div class="tab-pane fade show active" id="media" role="tabpanel" aria-labelledby="home-tab">
    <div style="display: flex; padding: 1%;  justify-content: center;">
    <img src="../../../assets/images/home/redfm.jpg" style="width: 15vw; height: 60%; padding-top: 2%; padding-right: 2%;">
    <img src="../../../assets/images/home/anthem.jpg" style="width: 15vw; height: 60%;padding-right: 2%; margin-left: 5%;">
    <img src="../../../assets/images/home/ht-media.jpg" style="width: 15vw; height: 60%; padding-top: 5%;padding-right: 2%; margin-left: 5%;">
    <img src="../../../assets/images/home/iiitb.jpg" style="width: 15vw; height: 60%; padding-top: 0%;padding-right: 2%; margin-left: 5%;">
    <img src="../../../assets/images/home/thetimes.jpg" style="width: 15vw; height: 60%; padding-top: 1%;padding-right: 2%; margin-left: 5%;">


    </div>
  </div>
  <div class="tab-pane fade" id="educational" role="tabpanel" aria-labelledby="profile-tab">
      <div style="display: flex; padding: 1%;  justify-content: center;">
      <img src="../../../assets/images/home/manipal.jpg" style="width: 15vw; height: 60%; padding-top: 5%; padding-right: 2%;">
      <img src="../../../assets/images/home/christ.png" style="width: 15vw; height: 60%;padding-right: 2%; margin-left: 5%; padding-top: 5%;">
      <img src="../../../assets/images/home/Axim.png" style="width: 15vw; height: 60%; padding-top: 3%;padding-right: 2%; margin-left: 5%;">
      <img src="../../../assets/images/home/symbiosis.png" style="width: 15vw; height: 60%; padding-top: 0%;padding-right: 2%; margin-left: 5%;">
      <img src="../../../assets/images/home/greenwood.png" style="width: 15vw; height: 60%; padding-top: 1%;padding-right: 2%; margin-left: 5%;">
  
  
      </div>
    </div>
  <div class="tab-pane fade" id="manufacturing" role="tabpanel" aria-labelledby="profile-tab">
      <div style="display: flex; padding: 1%;  justify-content: center;">
      <img src="../../../assets/images/home/motherson.jpg" style="width: 15vw; height: 60%; padding-top: 5%; padding-right: 2%;">
      <img src="../../../assets/images/home/redbull.jpg" style="width: 15vw; height: 60%;padding-right: 2%; margin-left: 5%; padding-top: 2%;">
      <img src="../../../assets/images/home/adityabirla.jpg" style="width: 15vw; height: 60%; padding-top: 2%;padding-right: 2%; margin-left: 5%;">
      <img src="../../../assets/images/home/tvs.jpg" style="width: 15vw; height: 60%; padding-top: 0%;padding-right: 2%; margin-left: 5%;">
      <img src="../../../assets/images/home/Pepe-jeans.jpg" style="width: 15vw; height: 60%; padding-top: 4%;padding-right: 2%; margin-left: 5%;">
  
  
    </div>
  </div>
  <div class="tab-pane fade" id="co-working" role="tabpanel" aria-labelledby="contact-tab">
      <div style="display: flex; padding: 1%;  justify-content: center;">
      <img src="../../../assets/images/home/trueworks.png" style="width: 15vw; height: 60%; padding-top: 3%; padding-right: 2%;">
      <img src="../../../assets/images/home/Herbalife-Logo.png" style="width: 15vw; height: 60%;padding-right: 2%; margin-left: 5%; padding-top: 3%;">
      <img src="../../../assets/images/home/32avenue.png" style="width: 15vw; height: 60%; padding-top: 3%;padding-right: 2%; margin-left: 5%;">
      <img src="../../../assets/images/home/coworking.png" style="width: 15vw; height: 60%; padding-top: 0%;padding-right: 2%; margin-left: 5%;">
      <img src="../../../assets/images/home/BHIVEN.png" style="width: 15vw; height: 60%; padding-top: 0%;padding-right: 2%; margin-left: 5%;">
  
  
    </div>
  </div>
  <div class="tab-pane fade" id="real" role="tabpanel" aria-labelledby="profile-tab">
    <div style="display: flex; padding: 1%;  justify-content: center;">
      <img src="../../../assets/images/home/brigade.jpg" style="width: 10vw; height: 60%; padding-top: 4%; padding-right: 2%;">
      <img src="../../../assets/images/home/paranvakara.png" style="width: 15vw; height: 60%;padding-right: 2%; margin-left: 5%; padding-top: 6%;">
      <img src="../../../assets/images/home/bagmane.png" style="width: 15vw; height: 60%; padding-top: 1%;padding-right: 2%; margin-left: 5%;">
      <img src="../../../assets/images/home/k2k.png" style="width: 15vw; height: 60%; padding-top: 6%;padding-right: 2%; margin-left: 5%;">
      <img src="../../../assets/images/home/Prestige_Group.png" style="width: 15vw; height: 60%; padding-top: 0%;padding-right: 2%; margin-left: 5%;">
  
    </div>
  </div>
  <div class="tab-pane fade" id="retail" role="tabpanel" aria-labelledby="profile-tab">
    <div style="display: flex; padding: 1%;  justify-content: center;">
      <img src="../../../assets/images/home/sparx-removebg-preview.png" style="width: 15vw; height: 60%; padding-top: 4%; padding-right: 2%;">
      <img src="../../../assets/images/home/lifestyle_logo-removebg-preview.png" style="width: 15vw; height: 60%;padding-right: 2%; margin-left: 5%; padding-top: 3%;">
      <img src="../../../assets/images/home/png-transparent-bata-hd-logo-removebg-preview.png" style="width: 15vw; height: 60%; padding-top: 4%;padding-right: 2%; margin-left: 5%;">
      <img src="../../../assets/images/home/Licious-Logo-2015-removebg-preview.png" style="width: 15vw; height: 60%; padding-top: 2%;padding-right: 2%; margin-left: 5%;">
      <img src="../../../assets/images/home/croma-removebg-preview.png" style="width: 15vw; height: 60%; padding-top: 0%;padding-right: 2%; margin-left: 5%;">
  
    </div>
  </div>
  <div class="tab-pane fade" id="logistics" role="tabpanel" aria-labelledby="profile-tab">
    <div style="display: flex; padding: 1%; justify-content: center; ">
      <img src="../../../assets/images/home/aegis logistic.png" style="width: 15vw; height: 60%; padding-top: 0.5%; padding-right: 2%;">
      <img src="../../../assets/images/home/critical logistic.png" style="width: 15vw; height: 60%;padding-right: 2%; margin-left: 5%; padding-top: 4%;">
      <img src="../../../assets/images/home/Delhivery logistics.png" style="width: 15vw; height: 60%; padding-top: 5%;padding-right: 2%; margin-left: 5%;">
      <img src="../../../assets/images/home/expressbees logistic.png" style="width: 15vw; height: 60%; padding-top: 5%;padding-right: 2%; margin-left: 5%;">
      <img src="../../../assets/images/home/shadowface.png" style="width: 15vw; height: 60%; padding-top: 4%;padding-right: 2%; margin-left: 5%;">
  
    </div>
  </div>
  <div class="tab-pane fade" id="it" role="tabpanel" aria-labelledby="profile-tab">
    <div style="display: flex; padding: 1%; justify-content: center; ">
      <img src="../../../assets/images/home/hcl it.png" style="width: 15vw; height: 60%; padding-top: 3%; padding-right: 2%;">
      <img src="../../../assets/images/home/nec it.png" style="width: 10vw; height: 60%;padding-right: 2%; margin-left: 5%; padding-top: 1%;">
      <img src="../../../assets/images/home/pwc it.png" style="width: 10vw; height: 60%; padding-top: 0%;padding-right: 0%; margin-left: 5%;">
      <img src="../../../assets/images/home/stibo it.png" style="width: 15vw; height: 60%; padding-top: 4.5%;padding-right: 2%; margin-left: 5%;">
      <img src="../../../assets/images/home/tata elxsi it.png" style="width: 15vw; height: 60%; padding-top: 0%;padding-right: 2%; margin-left: 5%;">
  
    </div>
  </div>
  <div class="tab-pane fade" id="healthcare" role="tabpanel" aria-labelledby="profile-tab">
      <div style="display: flex; padding: 1%;  justify-content: center;">
      <img src="../../../assets/images/home/hrblife.png" style="width: 15vw; height: 60%; padding-top: 2%; padding-right: 2%;">
      <img src="../../../assets/images/home/kims.png" style="width: 10vw; height: 60%;padding-right: 2%; margin-left: 5%; padding-top: 3%;">
      <img src="../../../assets/images/home/health.png" style="width: 15vw; height: 60%; padding-top: 6%;padding-right: 2%; margin-left: 5%;">
      <img src="../../../assets/images/home/health2.png" style="width: 15vw; height: 60%; padding-top: 8%;padding-right: 2%; margin-left: 5%;">
      <img src="../../../assets/images/home/health3.png" style="width: 15vw; height: 60%; padding-top: 6%;padding-right: 2%; margin-left: 5%;">
  
    </div>
  </div>
  <div class="tab-pane fade" id="finance" role="tabpanel" aria-labelledby="profile-tab">
      <div style="display: flex; padding: 1%;  justify-content: center;">
      <img src="../../../assets/images/home/ffredom.png" style="width: 15vw; height: 60%; padding-top: 2%; padding-right: 2%;">
      <img src="../../../assets/images/home/kavya.png" style="width: 15vw; height: 60%;padding-right: 2%; margin-left: 5%; padding-top: 3%;">
      <img src="../../../assets/images/home/modefin.png" style="width: 15vw; height: 60%; padding-top: 3%;padding-right: 2%; margin-left: 5%;">
      <img src="../../../assets/images/home/bank-finnance.png" style="width: 15vw; height: 60%; padding-top: 3%;padding-right: 2%; margin-left: 5%;">
      <img src="../../../assets/images/home/tjsb.png" style="width: 15vw; height: 60%; padding-top: 1%;padding-right: 2%; margin-left: 5%;">
  
    </div>
  </div>
</div>
</div>

</div>


