<div  style="width: 100%; position: relative; background-color: darkblue; height: fit-content;">
  <img style="width: 100%;" src="../../../assets/images/verticals/mainpageheader.jpg">
  <div style="position: absolute; color: white; top: 20%;left: 10%; width:50%; "><h1 style=" font-size: 2.5vw;font-weight: bold;">Manufacturing: Fortifying manufacturing industries with cutting-edge network and security solutions</h1>
    </div>
</div>

<div style="background-color: white; display: flex; padding-top: 2%; padding-bottom: 4%; padding-left: 2%;">
  <div style="margin-top: 4%"><img src="../../../assets/images/verticals/manufacture.jpg" alt="" style="height: 35vh; "> </div>
<div style="background-color: white; text-align: left; padding-left: 7%; padding-right: 2%;">
<h1 style="font-size: 1.8vw;padding-top: 5%; padding-bottom: 5%; text-align: left; font-weight: bold; padding-right: 5%;">Revolutionizing Manufacturing Solutions</h1><p style="font-size: 1.2vw; font-weight: 350;text-align: justify;width: 80%;">Safeguarding the Foundation of Industry - In the dynamic world of manufacturing, security is paramount. Our expert network and security solutions are designed to protect your critical operations, intellectual property, and supply chain from potential threats. With a focus on efficiency and reliability, we ensure your manufacturing processes remain uninterrupted and your data stays secure.</p>
</div>
</div>




<div class="image-container" style="background-color: darkblue; padding-top: 10px; padding-bottom: 10px; height: fit-content;">
    <div style="background-color: darkblue;">
      <img src="../../../assets/images/network/sdwan-wire.jpg" style="max-width: 100%; height: fit-content;">
      <h1 class="image-text" style="font-size: 2.5vw;font-weight: bold;">Infynix Key Features:</h1>
      <div style="position: absolute; top: 17%; display: flex; gap: 5%; padding-left: 10%; padding-right: 5%; padding-top: 5%;">
        <div class="black-box" style="width: 30%; background-color: rgba(0, 0, 0, 0.349); padding: 1%; box-sizing: border-box; font-size: 1vw;">
          <h1 class="dynamic-font-size" style="text-align: left; color: rgba(160,227,250,255); font-size: 1.5vw;">
            Speeds from 10Mbps to 10 Gbps</h1>
        </div>
        <div class="black-box" style="width: 30%; background-color: rgba(0, 0, 0, 0.349); padding: 1%; box-sizing: border-box; font-size: 1vw;">
          <h1 class="dynamic-font-size" style="text-align: left; color: rgba(160,227,250,255); font-size: 1.5vw;">99.95% Uptime SLAs</h1>
        </div>
        <div class="black-box" style="width: 30%; background-color: rgba(0, 0, 0, 0.349); padding: 1%; box-sizing: border-box;font-size: 1vw;">
          <h1 class="dynamic-font-size" style="text-align: left; color: rgba(160,227,250,255); font-size: 1.5vw;">
            Direct connectivity to Data Centres</h1>
        </div>
        <div class="black-box" style="width: 30%; background-color: rgba(0, 0, 0, 0.349); padding: 1%; box-sizing: border-box;font-size: 1vw;">
            <h1 class="dynamic-font-size" style="text-align: left; color: rgba(160,227,250,255); font-size: 1.5vw;">
                DDoS Protection ready</h1>
          </div>
      </div>
      <div style="position: absolute;top: 60%; display: flex; gap: 4.5%; padding-left: 10%; padding-right: 5%">
        <div class="black-box" style="width: 19%; background-color: rgba(0, 0, 0, 0.349); padding: 1%; box-sizing: border-box;font-size: 1vw;">
          <h1 class="dynamic-font-size" style="text-align: left; color: rgba(160,227,250,255); font-size: 1.5vw;">Peering's with Google / Microsoft / Facebook</h1>
        </div>
        <div class="black-box" style="width: 19%; background-color: rgba(0, 0, 0, 0.349); padding: 1%; box-sizing: border-box;font-size: 1vw;">
          <h1 class="dynamic-font-size" style="text-align: left; color: rgba(160,227,250,255); font-size: 1.5vw;">Multiple Peering's across the globe</h1>
        </div>
        <div class="black-box" style="width: 19%; background-color: rgba(0, 0, 0, 0.349); padding: 1%; box-sizing: border-box;font-size: 1vw;">
            <h1 class="dynamic-font-size" style="text-align: left; color: rgba(160,227,250,255); font-size: 1.5vw;">Suitable for mission critical hosting connectivity</h1>
          </div>
          <div class="black-box" style="width: 19%; background-color: rgba(0, 0, 0, 0.349); padding: 1%; box-sizing: border-box;font-size: 1vw;">
            <h1 class="dynamic-font-size" style="text-align: left; color: rgba(160,227,250,255); font-size: 1.5vw;">BGP routing configurability (single ASN only)</h1>
          </div>

      </div>
    </div>
  </div>






<div class="image-container" style="background-color: rgba(13, 22, 55, 255); padding-top: 10px; height: fit-content;padding-bottom: 0;margin-bottom: 3%">
    <div style="background-color: white; height: fit-content; width: 100%;  position: relative; text-align: center;">
      <div style=" padding-bottom: 5%;">
        <h1 style="padding-top: 2%; font-size: 2.5vw;"> Customer Motivations for Choosing
          <img src="../../../assets/images/main_logo.png" style="width: 10vw;">
        </h1>
        <p style="font-size: 1.1vw;">Reasons and factors that lead customers to select Infynix for their needs.</p>
        </div>
        <div style="display: flex; justify-content: center;">
          <div style="background-color: #a8adc5; padding-top: 2%; width: 20%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
              <div style="padding-bottom: 10%;">
                  <img src="../../../assets/images/verticals/rocket.png" style="height: 9vw;">
              </div>
              <div>
                  <h1 style="font-size: 1.7vw; padding-bottom: 10%;">GROWS AS FAST AS YOU</h1>
                  <p style="font-size: 1.1vw;">We build scale as fast, so we’re ready when you are.</p>
              </div>
          </div>
          <div style="background-color: #a8adc5d0; padding-top: 2%; width: 20%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
              <div style="padding-bottom: 10%;">
                  <img src="../../../assets/images/verticals/hand money.png" style="height: 9vw;">
              </div>
              <div>
                  <h1 style="font-size: 1.7vw; padding-bottom: 10%;">DOES MORE WITH LESS</h1>
                  <p style="font-size: 1.1vw;">High performance doesn’t mean high cost. We don’t compromise on operational excellence.</p>
              </div>
          </div>
          <div style="background-color: #a8adc59c; width: 20%; padding-top: 2%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
              <div style="padding-bottom: 10%;">
                  <img src="../../../assets/images/verticals/secure.png" style="height: 9vw;">
              </div>
              <div>
                  <h1 style="font-size: 1.7vw; padding-bottom: 10%;">WHERE DATA NEVER SLEEPS</h1>
                  <p style="font-size: 1.1vw;">We offer 100% avalibility, so you can be ‘always on’ your customers.</p>
              </div>
          </div>
      </div>
  </div>
  </div>


