<div  style="width: 100%; position: relative; background-color: black; height: fit-content;">
    <img style="width: 100%; opacity: 0.7; " src="../../../assets/images/security/fabio-oyXis2kALVg-unsplash resize.jpg">
    <div style="position: absolute; color: white; top: 20%;left: 5%; width:50%; "><h1 style=" font-size: 2.5vw; font-weight: bold; padding-top: 15%;">Embrace the Future of Networking and Security with SASE</h1></div>
</div>

<div style="background-color: rgba(233,236,246,255); display: flex; padding-top: 2%; padding-bottom: 2%; padding-left: 2%;">
    <div style="margin-top: 8%;"><img src="../../../assets/images/security/image (1).png" alt="" style="width: 45vw; "> </div>
<div style="background-color: rgba(90,101,146,255); text-align: left; padding-left: 5%; padding-right: 5%; height: fit-content;padding-bottom: 3%; transform: translate(-10%,0%);">
<h1 style="font-size: 2.2vw;padding-top: 5%; padding-bottom: 5%; text-align: left; font-weight: 700; color: white; padding-right: 5%;">SASE : Secure Access Service Edge</h1><p style="font-size: 1.2vw; font-weight: 350; color: white; text-align: justify;">Infynix's SASE services bring security and access closer to end-users. By dynamically permitting or blocking connections to applications and services based on an organization's security policies, Infynix's SASE reduces IT expenses and simplifies management while enhancing user experience and mitigating risks.</p>

    <p style="font-size: 1.2vw; font-weight: 350; color: white; text-align: justify;">Join the ranks of forward-thinking organizations that have embraced SASE to empower their workforce, improve security, and drive digital transformation. Our SASE solution is customized to suit your unique needs, delivering a secure and dynamic foundation for your digital transformation voyage. Let Infynix guide you on your journey towards a scalable, secure, and agile network infrastructure</p>
</div>
</div>

<div id="carouselExampleIndicators" class="carousel slide dynamic-height-carousel" data-ride="carousel" style="background-color: rgba(199,199,199,255);  height: fit-content; padding-bottom: 5%;">
    <ol class="carousel-indicators" style="z-index: 10;">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" style="font-size: 20% !important; height: fit-content;">
      <div class="carousel-item active" style="display: flex; width: 100%; margin-top: 5%; height: fit-content; justify-content: center;">
        <div style="width:30%;  background-color: white; margin-right: 2%;  padding:3%">
            <h2  style="text-align: center; color: rgb(2, 2, 92); font-family: sans-serif;">NGF WaaS(Next-Generation Firewall as a Service)</h2>
            <p style="font-size: 1.3vw; text-align: center; text-align: justify; padding-top: 3%; ">This cutting-edge technology offers advanced firewall capabilities delivered as a service, providing a robust and secure network infrastructure for your business needs. Take your Network to the next level by adopting NGF WaaS from Infynix.</p>
        </div>
      
        <div style="width:30%;  background-color: white;margin-right: 2%;  padding:3%">
            <h2  style="text-align: center; color: rgb(2, 2, 92); font-family: sans-serif; margin-top: 8%;">
                Routing</h2>
            <p style="font-size: 1.3vw; text-align: center; text-align: justify; padding-top: 20%; ">At Infynix, we specialize in providing cutting-edge network routing solutions that empower your business with fast and reliable data transmission. Routing is the backbone of modern networks, and our expert team ensures that your data takes the most efficient path from source to destination, delivering a seamless communication experience.</p>
        </div>
        <div style="width:30%;  background-color: white;  padding:3%">
            <h2  style="text-align: center; color: rgb(2, 2, 92); font-family:sans-serif">SD-WAN (Software Defined Wide Area Network)</h2>
            <p style="font-size: 1.3vw; text-align: center; text-align: justify; padding-top: 3%; ">Upgrade your network infrastructure with SD-WAN from Infynix. Embrace the future of networking technology and unlock the true potential of your business. Whether you're a small startup or a large enterprise, our SD-WAN solution is tailored to meet your unique needs.</p>
        </div>
  </div>
  <div class="carousel-item" style="display: flex; width: 100%; margin-top: 5%; height: fit-content; justify-content: center;">
    <div style="width:30%;  background-color: white; margin-right: 2%;  padding:3%">
        <h2  style="text-align: center; color: rgb(2, 2, 92); font-family: sans-serif;">​ZTNA</h2>
        <p style="font-size: 1.3vw; text-align: center; text-align: justify; padding-top: 3%; ">Protect your organization's digital assets with ZTNA from Infynix. Embrace a zero-trust security model that adapts to modern network challenges and ensures secure access to your resources, regardless of your users' locations.</p>
    </div>
    <div style="width:30%;  background-color: white; margin-right: 2%;  padding:3%">
        <h2  style="text-align: center; color: rgb(2, 2, 92); font-family: sans-serif;">SWG</h2>
        <p style="font-size: 1.3vw; text-align: center; text-align: justify; padding-top: 3%; ">Defend your organization from web-based threats with our advanced SWG solution. Strengthen your cybersecurity posture, maintain a secure internet environment, and empower your users to explore the web with confidence.</p>
    </div>
    <div style="width:30%;  background-color: white;  padding:3%">
        <h2  style="text-align: center; color: rgb(2, 2, 92); font-family: sans-serif;">CASB</h2>
        <p style="font-size: 1.3vw; text-align: center; text-align: justify; padding-top: 3%; ">Cloud Access Security Broker (CASB): Safeguard Your Cloud Environment. Infynix offers cutting-edge Cloud Access Security Broker (CASB) solutions to protect your organization's cloud environment. CASB acts as a critical security control point, ensuring secure access, data protection, and compliance in cloud applications.</p>
    </div>
</div>
      <div class="carousel-item" style="display: flex; width: 100%; margin-top: 5%; height: fit-content; justify-content: center;">
        <div style="width:30%;  background-color: white; margin-right: 2%;  padding:3%">
            <h2  style="text-align: center; color: rgb(2, 2, 92); font-family: sans-serif;">
                Network DLP</h2>
            <p style="font-size: 1.3vw; text-align: center; text-align: justify; padding-top: 5%; ">Network Data Loss Prevention (Network DLP): Protect Your Data Everywhere

                Our Network Data Loss Prevention (Network DLP) solution empowers your business with comprehensive data protection. Infynix Network DLP monitors, detects, and prevents unauthorized data exfiltration across your network.  </p>
        </div>
        <div style="width:30%;  background-color: white;margin-right: 2%;  padding:3%">
            <h2  style="text-align: center; color: rgb(2, 2, 92); font-family: sans-serif;">
                Data Security</h2>
            <p style="font-size: 1.3vw; text-align: center; text-align: justify; padding-top: 13%; ">Mitigating the risks of data loss, theft, or corruption, and limiting the impact in the event of a breach or unforeseen disaster is an essential aspect of comprehensive data security and business continuity planning.</p>
        </div>

        <div style="width:30%;  background-color: white;   padding:3%">
            <h2  style="text-align: center; color: rgb(2, 2, 92); font-family: sans-serif;">RBI</h2>
            <p style="font-size: 1.3vw; text-align: center; text-align: justify; padding-top: 3%; ">Remote Browser Isolation (RBI): A Safer Web Browsing Experience

                At Infynix, we prioritize the security of your network and data. That's why we offer an innovative cybersecurity solution - Remote Browser Isolation (RBI). RBI is designed to protect your organization from web-based threats, ensuring a safer web browsing experience for your users.
                
                </p>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
          </a>
  </div>

  <div class="carousel-item" style="display: flex; width: 100%; margin-top: 5%; height: fit-content; justify-content: center;">
  
    <div style="width:30%;  background-color: white; margin-right: 2%;  padding:3%">
        <h2  style="text-align: center; color: rgb(2, 2, 92); font-family: sans-serif;">XDR(Extended Detection and Response)</h2>
        <p style="font-size: 1.3vw; text-align: center; text-align: justify; padding-top: 3%; ">Enhance your organization's security posture with Infynix's XDR solutions. By combining advanced threat detection, unified security management, and rapid response capabilities, XDR empowers you to protect your digital assets proactively</p>
    </div>
    <div style="width:30%;  background-color: white; margin-right: 2%;  padding:3%">
        <h2  style="text-align: center; color: rgb(2, 2, 92); font-family: sans-serif; margin-top: 11%;">Network Security</h2>
        <p style="font-size: 1.3vw; text-align: center; text-align: justify; padding-top: 17%; ">Ensure network security through a combination of web content filtering, intrusion detection and prevention, firewall utilizing deep packet inspection, multi-factor authentication, and gateway anti-virus protection.</p>
    </div>
    <div style="width:30%;  background-color: white;  padding:3%">
        <h2  style="text-align: center; color: rgb(2, 2, 92); font-family: sans-serif;">Vulnerability Assessment and Penetration Testing</h2>
        <p style="font-size: 1.3vw; text-align: center; text-align: justify; padding-top: 3%; ">Detect and remediate cybersecurity vulnerabilities across applications, networks, endpoints, and cloud environments, ensuring comprehensive end-to-end protection.</p>
    </div>
</div>
  </div>
  </div>
<div style="background-color: white; height: fit-content; width: 100%;  position: relative; text-align: center;">
    <div style=" padding-bottom: 5%;">
      <h1 style="padding-top: 2%; font-size: 2.5vw;"> Customer motivation for Choosing
        <img src="../../../assets/images/main_logo.png" style="width: 10vw;">
      </h1>
      <p style="font-size: 1.1vw;">Reasons and factors that lead customers to select Infynix for their needs.</p>
      </div>
      <div style="display: flex; justify-content: center;">
        <div style="background-color: #a8adc5; padding-top: 2%; width: 20%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/security/solution (1).png" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">Comprehensive Solutions</h1>
                <p style="font-size: 1.1vw;">At Infynix, we offer a wide range of network security solutions that cover all aspects of protecting your valuable assets. From firewalls and intrusion prevention systems to secure access controls and advanced threat detection, our comprehensive approach ensures a robust and layered defense against cyber threats.</p>
            </div>
        </div>
        <div style="background-color: #a8adc5d0; padding-top: 2%; width: 20%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/security/rating.png" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">Expertise and Experience</h1>
                <p style="font-size: 1.1vw;">With years of experience in the telecom and digital service industry, our team of skilled professionals is well-versed in the latest security trends and technologies. We understand the unique challenges businesses face and tailor our solutions to meet your specific requirements effectively.</p>
            </div>
        </div>
        <div style="background-color: #a8adc59c; width: 20%; padding-top: 2%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/security/customize.png" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">Customization and Scalability</h1>
                <p style="font-size: 1.1vw;">We understand that every business has unique security needs. Our solutions are highly customizable to adapt to your organization's specific requirements. Additionally, our services are designed to scale with your business, accommodating growth and evolving security demands.</p>
            </div>
        </div>
        <div style="background-color: #a8adc565; padding-top: 2%; width: 20%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/security/regtech.png" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">Compliance and Regulations</h1>
                <p style="font-size: 1.1vw;">Infynix is well-versed in compliance requirements and industry regulations. We ensure that your network security aligns with relevant standards, giving you peace of mind and avoiding potential legal and financial risks.</p>
            </div>
        </div>
    </div>
</div>
