<div  style="width: 100%; position: relative; background-color: black; height: fit-content;">
    <img style="width: 100%; opacity: 0.7; " src="../../../assets/images/security/fabio-oyXis2kALVg-unsplash resize.jpg">
    <div style="position: absolute; color: white; top: 20%;left: 5%; width:50%; "><h1 style=" font-size: 2.5vw; font-weight: bold; padding-top: 15%;">Embrace the Future of Networking and Security with SASE</h1></div>
</div>

<div style="background-color: rgba(233,236,246,255); display: flex; padding-top: 2%; padding-bottom: 2%; padding-left: 2%;">
    <div style="margin-top: 8%;"><img src="../../../assets/images/security/image (1).png" alt="" style="width: 45vw; "> </div>
<div style="background-color: rgba(90,101,146,255); text-align: left; padding-left: 5%; padding-right: 2%; height: fit-content; transform: translate(-10%,0%);">
<h1 style="font-size: 2.2vw;padding-top: 5%; padding-bottom: 5%; text-align: left; font-weight: 700; color: white; padding-right: 5%;">SASE</h1><p style="font-size: 1.2vw; font-weight: 350; color: white;">Infynix's SASE services bring security and access closer to end-users. By dynamically permitting or blocking connections to applications and services based on an organization's security policies, Infynix's SASE reduces IT expenses and simplifies management while enhancing user experience and mitigating risks.</p>

    <p style="font-size: 1.2vw; font-weight: 350; color: white;">Join the ranks of forward-thinking organizations that have embraced SASE to empower their workforce, improve security, and drive digital transformation. Our SASE solution is customized to suit your unique needs, delivering a secure and dynamic foundation for your digital transformation voyage. Let Infynix guide you on your journey towards a scalable, secure, and agile network infrastructure</p>
</div>
</div>

<div style="width: 100%; background-color: rgba(199,199,199,255); height: fit-content; display: flex; padding-top: 2%; padding-left: 2%; padding-bottom: 2%;">
<div style="color: white; height: fit-content; width: 30%; padding-left: 4%;">
<h1 >NGF WaaS(Next-Generation Firewall as a Service)</h1>
<p>This cutting-edge technology offers advanced firewall capabilities delivered as a service, providing a robust and secure network infrastructure for your business needs. Take your Network to the next level by adopting NGF WaaS from Infynix.</p>
</div>
<div></div>
<div></div>

</div>


<div style="background-color: white; height: fit-content; width: 100%;  position: relative; text-align: center;">
    <div style=" padding-bottom: 5%;">
      <h1 style="padding-top: 2%; font-size: 2.5vw;"> Customer motivation for Choosing
        <img src="../../../assets/images/main_logo.png" style="width: 10vw;">
      </h1>
      <p style="font-size: 1.1vw;">Reasons and factors that lead customers to select Infynix for their needs.</p>
      </div>
      <div style="display: flex; justify-content: center;">
        <div style="background-color: #a8adc5; padding-top: 2%; width: 20%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/security/solution (1).png" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">Comprehensive Solutions</h1>
                <p style="font-size: 1.1vw;">At Infynix, we offer a wide range of network security solutions that cover all aspects of protecting your valuable assets. From firewalls and intrusion prevention systems to secure access controls and advanced threat detection, our comprehensive approach ensures a robust and layered defense against cyber threats.</p>
            </div>
        </div>
        <div style="background-color: #a8adc5d0; padding-top: 2%; width: 20%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/security/rating.png" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">Expertise and Experience</h1>
                <p style="font-size: 1.1vw;">With years of experience in the telecom and digital service industry, our team of skilled professionals is well-versed in the latest security trends and technologies. We understand the unique challenges businesses face and tailor our solutions to meet your specific requirements effectively.</p>
            </div>
        </div>
        <div style="background-color: #a8adc59c; width: 20%; padding-top: 2%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/security/customize.png" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">Customization and Scalability</h1>
                <p style="font-size: 1.1vw;">We understand that every business has unique security needs. Our solutions are highly customizable to adapt to your organization's specific requirements. Additionally, our services are designed to scale with your business, accommodating growth and evolving security demands.</p>
            </div>
        </div>
        <div style="background-color: #a8adc565; padding-top: 2%; width: 20%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/security/regtech.png" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">Compliance and Regulations</h1>
                <p style="font-size: 1.1vw;">Infynix is well-versed in compliance requirements and industry regulations. We ensure that your network security aligns with relevant standards, giving you peace of mind and avoiding potential legal and financial risks.</p>
            </div>
        </div>
    </div>
</div>
