<div  style="width: 100%; position: relative; background-color: blue; height: fit-content;">
    <img style="width: 100%; opacity: 0.9;" src="../../../assets/images/network/sdwan-main.jpg">
    <div style="position: absolute; color: white; top: 20%;left: 10%; width:37%; "><h1 style=" font-size: 2.5vw; font-weight: 700;">Secure SD-WAN is an integrated security, network routing and WAN optimisation solution</h1></div>

</div>
<div style="background-color: white; display: flex; padding-top: 2%; padding-bottom: 2%; padding-left: 2%;">
    <div style="margin-top: 4%;"><img src="../../../assets/images/network/sdwanpage.jpg" alt="" style="height: 45vh; "> </div>
<div style="background-color: white; text-align: left; padding-left: 7%; padding-right: 2%;">
<h1 style="font-size: 2.2vw;padding-top: 5%; padding-bottom: 5%; text-align: left; font-weight: 700; padding-right: 5%;">SD-WAN</h1><p style="font-size: 1.2vw; font-weight: 350;">Infynix's Secure SD-WAN addresses the pressing need for secure and optimized WAN technologies in today's mobile and cloud-driven business environment. It streamlines vendor management, integrating security and networking functionalities to simplify the WAN infrastructure. The solution offers next-gen security features, ensuring data protection and empowering businesses to embrace cloud services confidently. Additionally, Secure SD-WAN optimizes WAN efficiency, facilitating seamless cloud application usage and real-time collaboration. This transformative solution empowers enterprises to stay agile, secure, and at the forefront of technology, unlocking new possibilities for network infrastructure. Embrace Secure SD-WAN for enhanced productivity and connectivity in the evolving digital era.</p>
</div>
</div>
<div class="image-container" style="background-color: white; padding-top: 10px; padding-bottom: 10px; height: fit-content;">
    <div style="background-color: rgb(255, 255, 255);">
      <img src="../../../assets/images/network/sdwan-wire.jpg" style="max-width: 100%; height: fit-content;">
      <h1 class="image-text" style="font-size: 2.5vw;">Unparalleled Infynix Benefits</h1>
      <div style="position: absolute; top: 17%; display: flex; gap: 5%; padding-left: 5%; padding-right: 5%; padding-top: 5%;">
        <div class="black-box" style="width: 30%; background-color: rgba(0, 0, 0, 0.349); padding: 1%; box-sizing: border-box; font-size: 1vw;">
          <h1 class="dynamic-font-size" style="text-align: left; color: rgba(160,227,250,255); font-size: 1.5vw;">Secure access to web, email and applications via an on-premise firewall</h1>
        </div>
        <div class="black-box" style="width: 30%; background-color: rgba(0, 0, 0, 0.349); padding: 1%; box-sizing: border-box; font-size: 1vw;">
          <h1 class="dynamic-font-size" style="text-align: left; color: rgba(160,227,250,255); font-size: 1.5vw;">Route business critical applications based on application priority and network metrics</h1>
        </div>
        <div class="black-box" style="width: 30%; background-color: rgba(0, 0, 0, 0.349); padding: 1%; box-sizing: border-box;font-size: 1vw;">
          <h1 class="dynamic-font-size" style="text-align: left; color: rgba(160,227,250,255); font-size: 1.5vw;">View real time statistics on network performance, application performance and network status</h1>
        </div>
      </div>
      <div style="position: absolute;top: 60%; display: flex; gap: 5%; padding-left: 5%; padding-right: 5%">
        <div class="black-box" style="width: 30%; background-color: rgba(0, 0, 0, 0.349); padding: 1%; box-sizing: border-box;font-size: 1vw;">
          <h1 class="dynamic-font-size" style="text-align: left; color: rgba(160,227,250,255); font-size: 1.5vw;">Centrally configure and enforce policy via a centralised cloud-based interface</h1>
        </div>
        <div class="black-box" style="width: 30%; background-color: rgba(0, 0, 0, 0.349); padding: 1%; box-sizing: border-box;font-size: 1vw;">
          <h1 class="dynamic-font-size" style="text-align: left; color: rgba(160,227,250,255); font-size: 1.5vw;">
            Easily provision the applicable configurations and policies for new sites</h1>
        </div>

      </div>
    </div>
  </div>

  <div style="background-color: white; height: fit-content; width: 100%;  position: relative; text-align: center;">
    <div style=" padding-bottom: 5%;">
      <h1 style="padding-top: 2%; font-size: 2.5vw;"> Customer motivation for Choosing
        <img src="../../../assets/images/main_logo.png" style="width: 10vw;">
      </h1>
      <p style="font-size: 1.1vw;">Reasons and factors that lead customers to select Infynix for their needs.</p>
      </div>
      <div style="display: flex; justify-content: center; margin-left: 5%; margin-bottom: 5%;">
        <div style="background-color: #a8adc5; padding-top: 2%; width: 20%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%; margin-right: 5%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/network/sdwancard1.jpg" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">Security-Focused Approach</h1>
                <p style="font-size: 1.1vw;">Infynix prioritizes security, providing robust protection against breaches and malicious activity through next-generation firewall capabilities.</p>
            </div>
        </div>
        <div style="background-color: #a8adc5d0; padding-top: 2%; width: 20%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;margin-right: 5%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/network/sdwancard2.jpg" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">Simplified Management</h1>
                <p style="font-size: 1.1vw;">Infynix simplifies application data management over the WAN, enabling prioritization of critical applications and traffic for enhanced efficiency.</p>
            </div>
        </div>
        <div style="background-color: #a8adc59c; width: 20%; padding-top: 2%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;margin-right: 5%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/network/sdwancard3.jpg" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">Improved Network Utilization</h1>
                <p style="font-size: 1.1vw;">Infynix optimizes network performance by leveraging existing infrastructure and effectively utilizing available network connections.</p>
            </div>
        </div>
    </div>
    <div style="display: flex; justify-content: center; margin-left: 5%; margin-bottom: 5%;">
        <div style="background-color: #a8adc59c; padding-top: 2%; width: 20%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%; margin-right: 5%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/network/sdwancard4.jpg" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">Enhanced Visibility</h1>
                <p style="font-size: 1.1vw;">Infynix offers improved visibility through an easy-to-access management portal, providing comprehensive network and application performance reporting.</p>
            </div>
        </div>
        <div style="background-color: #a8adc5d0; padding-top: 2%; width: 20%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;margin-right: 5%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/network/sdwancard5.jpg" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">Faster Connections</h1>
                <p style="font-size: 1.1vw;">Infynix enhances user efficiency with faster connections using multiple links and the ability to add new access types.</p>
            </div>
        </div>
        <div style="background-color: #a8adc5; width: 20%; padding-top: 2%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;margin-right: 5%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/network/sdwancard6.jpg" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">Policy Control</h1>
                <p style="font-size: 1.1vw;">Infynix empowers users with more control over network and security policies across multiple sites through a cloud-based interface.

                </p>
            </div>
        </div>
    </div>
</div>