<div  style="width: 100%; position: relative; background-color: darkblue; height: fit-content;">
    <img style="width: 100%; opacity: 0.7;" src="../../../assets/images/network/transform.jpg">
    <div style="position: absolute; color: white; top: 20%;left: 10%; width:50%; "><h1 style=" font-size: 2.5vw;">Managed Network Services</h1><p style="font-size: 1.5vw;">| Empower Your Business with Streamlined Network Management |</p></div>

</div>
<div style="background-color: rgba(90,101,146,255);display: flex; padding-top: 2%; padding-bottom: 2%; padding-left: 2%; padding-bottom: 5%;">
    <div style="margin-top: 3.5%;"><img src="../../../assets/images/network/tranformmain.jpg" alt="" style="width:40vw; "> </div>
<div style="background-color: white; text-align: left; padding-left: 7%; padding-right: 2%; height: fit-content; padding-bottom: 2%; width: 55%; text-align: justify;">
<h1 style="font-size: 2.2vw;padding-top: 5%; padding-bottom: 5%; font-weight: 700; padding-right: 5%; color: rgba(0, 46, 93, 255);">Managed Network Services</h1><p style="font-size: 1.2vw; font-weight: 350;">At Infynix, we understand that modern enterprises face the challenge of investing extensively in upskilling their workforce, acquiring advanced tools and technologies, and ensuring the business's security, reliability, and agility. These efforts often divert valuable time and financial resources from their core business objectives.

    Our integrated skillsets, processes, and cutting-edge tools provide a cost-effective solution that drives efficiencies across a wide range of areas. By leveraging our expertise in network management, we de-risk technology for businesses, minimizing capital and operational expenses. This enables enterprises to redirect their focus towards core functions and strategic initiatives, unburdened by unnecessary financial burdens.
    
    With Infynix as your partner, you can optimize your business operations, increase cost savings, and ensure a secure and agile infrastructure to fuel your success in the competitive landscape.</p>
</div>
</div>
<div style="background-color: rgb(171, 180, 219); height: fit-content; padding-top: 5%; padding-bottom: 5%; max-width: 100%;">
<div style="text-align: center; width: 100%;">
    <h1 style="font-size: 2.2vw;"> Explore Our Network Transformation Services</h1>
</div>
<div style="display: flex; height: fit-content; width: 100vw; padding-top: 5%; padding-left: 10%;">
<div style="background-color: rgba(255, 255, 255, 0.589); width: 45vw; height: fit-content; padding: 2%; padding-right: 7%; margin-top: 2.5%; transform: translate(5%,0%);">
<h1 style="font-size: 1.5vw;">1. Cloud Ready</h1>
<p style="font-size: 1vw; padding-top: 3%; text-align: justify;">Infynix embraces the fast-paced shift to online business and applications, offering agile, secure, and cloud-ready network solutions. Our expertise enables organizations to adapt to a diverse ICT landscape, meeting connectivity demands and ensuring operational consistency across locations.</p>
</div>
<div><img src="../../../assets/images/network/transform1.jpg" style="height: 20vw;">
</div>
</div>
<div style="display: flex; height: fit-content; width: 100vw; padding-top: 5%; padding-left: 10%; gap: 5%;">
    <div style="background-color: rgba(255, 255, 255, 0.589); width: 35vw; padding: 2%; padding-right: 7%;">
    <h1 style="font-size: 1.5vw;">Features:</h1>
    <ul style="font-size: 1vw; padding-top: 3%; text-align: justify;">
        <li>Seamless Layer 3 and Layer 2 Connectivity</li>
        <li>Resilient Virtual Network Infrastructure</li>
        <li>Global Cloud Integration</li>
        <li>Data Center Linking</li>
        <li>Comprehensive High Availability</li>
        <li>Streamlined Traffic Management</li>
        <li>Expanded Visibility and Connectivity</li>
    </ul>
    </div>
    <div style="background-color: rgba(255, 255, 255, 0.589); width: 35vw;padding: 2%; padding-right: 7%;  ">
        <h1 style="font-size: 1.5vw;">Benefits:</h1>
        <ul style="font-size: 1vw; padding-top: 3%; text-align: justify;">
            <li>Secure, Scalable, and Stable Private Network</li>
            <li>Lower Ownership Costs</li>
            <li>Managed Risk and Data Security</li>
            <li>Agile, Adaptable to Your Cloud Needs</li>
            <li>On-Demand Flexible Links</li>
            <li>Congestion-Free Network Experience</li>
        </ul>
        </div>
    </div>
</div>
  
<div style="background-color: white; height: fit-content; width: 100%;  position: relative; text-align: center;">
    <div style=" padding-bottom: 5%;">
      <h1 style="padding-top: 2%; font-size: 2.5vw;"> Customer motivation for Choosing
        <img src="../../../assets/images/main_logo.png" style="width: 10vw;">
      </h1>
      <p style="font-size: 1.1vw;">Reasons and factors that lead customers to select Infynix for their needs.</p>
      </div>
      <div style="display: flex; justify-content: center;">
        <div style="background-color: #a8adc5; padding-top: 2%; width: 20%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/network/net1.jpg" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">Varied Fiber networks</h1>
                <p style="font-size: 1.1vw;">Spanning multiple geographical locations for Enhanced Connectivity.</p>
            </div>
        </div>
        <div style="background-color: #a8adc5d0; padding-top: 2%; width: 20%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/network/net2.jpg" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">Superior and Robust</h1>
                <p style="font-size: 1.1vw;">Reliable Network Infrastructure.</p>
            </div>
        </div>
        <div style="background-color: #a8adc59c; width: 20%; padding-top: 2%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/network/net3.jpg" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">End to End Link</h1>
                <p style="font-size: 1.1vw;">Effortless Last-Mile Connectivity Solutions.</p>
            </div>
        </div>
        <div style="background-color: #a8adc565; padding-top: 2%; width: 20%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%;">
            <div style="padding-bottom: 10%;">
                <img src="../../../assets/images/network/net4.jpg" style="height: 6vw;">
            </div>
            <div>
                <h1 style="font-size: 1.7vw; padding-bottom: 10%;">Minimal Latency</h1>
                <p style="font-size: 1.1vw;">Expansive Reach and Scalability.</p>
            </div>
        </div>
    </div>
</div>