<div  style="width: 100%; position: relative; background-color: darkblue; height: fit-content;">
    <img style="width: 100%; opacity: 0.7;" src="../../../assets/images/network/transform.jpg">
    <div style="position: absolute; color: white; top: 20%;left: 10%; width:50%; "><h1 style=" font-size: 2.5vw;">Managed Network Services</h1><p style="font-size: 1.5vw;">| Empower Your Business with Streamlined Network Management |</p></div>

</div>
<div style="background-color: rgb(171, 180, 219);; display: flex; padding-top: 2%; padding-bottom: 2%; padding-left: 2%; padding-bottom: 5%;">
    <div style="margin-top: 2%;"><img src="../../../assets/images/network/tranformmain.jpg" alt="" style="width: 40vw; "> </div>
<div style="background-color: white; text-align: left; padding-left: 7%; padding-right: 2%; height: fit-content; padding-bottom: 2%;">
<h1 style="font-size: 2.2vw;padding-top: 5%; padding-bottom: 5%; font-weight: 700; padding-right: 5%; color: rgba(0, 46, 93, 255);">Managed Network Services</h1><p style="font-size: 1.2vw; font-weight: 350;">At Infynix, we understand that modern enterprises face the challenge of investing extensively in upskilling their workforce, acquiring advanced tools and technologies, and ensuring the business's security, reliability, and agility. These efforts often divert valuable time and financial resources from their core business objectives.

    Our integrated skillsets, processes, and cutting-edge tools provide a cost-effective solution that drives efficiencies across a wide range of areas. By leveraging our expertise in network management, we de-risk technology for businesses, minimizing capital and operational expenses. This enables enterprises to redirect their focus towards core functions and strategic initiatives, unburdened by unnecessary financial burdens.
    
    With Infynix as your partner, you can optimize your business operations, increase cost savings, and ensure a secure and agile infrastructure to fuel your success in the competitive landscape.</p>
</div>
</div>